# Crear el directorio /user/hive/warehouse en HDFS
hadoop fs -mkdir -p /user/hive/warehouse

# Crear el directorio /tmp/hive en HDFS
hadoop fs -mkdir -p /tmp/hive

# Asignar permisos de escritura al grupo para el directorio /user/hive/warehouse en HDFS
hadoop fs -chmod g+w /user/hive/warehouse

# Asignar permisos de escritura al grupo para el directorio /tmp/hive en HDFS
hadoop fs -chmod g+w /tmp/hive

### Crear la estructura de carpetas en DFS_LOCAL

```bash
# Navegar al directorio donde queremos crear las carpetas
cd ~/DFS_LOCAL

# Crear las carpetas necesarias y asignar permisos
mkdir -p practicas/{01,02,03,04,05}/{data/{raw,processed,external},scripts}
chmod -R 755 practicas


### Acciones en DFS_LOCAL y DFS_CLUSTER

### Crear la estructura de carpetas en DFS_LOCAL y DFS_CLUSTER:

```bash
# Navegar al directorio DFS_LOCAL y DFS_CLUSTER
cd ~/DFS_LOCAL
cd ~/DFS_CLUSTER

# Crear las carpetas necesarias y asignar permisos en DFS_LOCAL
mkdir -p practicas/{01,02,03,04,05}/{data/{raw,processed,external},scripts}
chmod -R 755 practicas

# Crear las carpetas necesarias y asignar permisos en DFS_CLUSTER
mkdir -p practicas/{01,02,03,04,05}/{data/{raw,processed,external},scripts}
chmod -R 755 practicas

### Visualizar la estructura de carpetas en HDFS para el usuario hduser y hive:

### Visualizar la estructura en HDFS para el usuario hduser en DFS_CLUSTER
hadoop fs -ls -R /user/hduser/DFS_CLUSTER/practicas/ | awk '{if(NF==8)print $8; else{for(i=8;i<=NF;++i)printf("%s ",$i);print""}}' | sed -e "s/[^ ]*\// |/g"

### Visualizar la estructura en HDFS para el usuario hive en DFS_CLUSTER
hadoop fs -ls -R /user/hive/DFS_CLUSTER/practicas/ | awk '{if(NF==8)print $8; else{for(i=8;i<=NF;++i)printf("%s ",$i);print""}}' | sed -e "s/[^ ]*\// |/g"

### Visualizar la estructura de carpetas en DFS_LOCAL:

### Visualizar la estructura en DFS_LOCAL
tree ~/DFS_LOCAL

In [3]:
CREATE DATABASE IF NOT EXISTS movielensdb;
USE movielensdb;

SyntaxError: invalid syntax (3570406670.py, line 1)

In [ ]:
-- Tabla para genome-scores.csv
CREATE TABLE IF NOT EXISTS genome_scores (
    movieId INT,
    tagId INT,
    relevance DOUBLE
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE;

-- Tabla para genome-tags.csv
CREATE TABLE IF NOT EXISTS genome_tags (
    tagId INT,
    tag STRING
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE;

-- Tabla para links.csv
CREATE TABLE IF NOT EXISTS links (
    movieId INT,
    imdbId INT,
    tmdbId INT
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE;

-- Puedes seguir el mismo patrón para las otras tablas (movies, ratings, tags)

In [ ]:
-- Para cargar datos en la tabla genome_scores
LOAD DATA LOCAL INPATH '/home/hduser/DFS_LOCAL/practicas/05/ml-25m/genome-scores.csv' INTO TABLE genome_scores;

-- Repite este paso para las otras tablas, cambiando el nombre de la tabla y la ruta del archivo CSV

In [ ]:
. Parece que cada archivo CSV tiene las siguientes columnas:

genome-scores.csv:

movieId
tagId
relevance
genome-tags.csv:

tagId
tag
links.csv:

movieId
imdbId
tmdbId
movies.csv:

movieId
title
genres
ratings.csv:

userId
movieId
rating
timestamp
tags.csv:

userId
movieId
tag
timestamp

Dado que la tabla Ratings y la tabla Tags parecen ser las más fundamentales en términos de análisis de datos,
podría ser una buena idea comenzar con ellas.

Guía paso a paso sobre cómo crear estas tablas en Hive:

CREATE TABLE IF NOT EXISTS Ratings (
    userId INT,
    movieId INT,
    rating DOUBLE,
    fechahora BIGINT
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE;

====================================================================


Tabla Tags
CREATE TABLE IF NOT EXISTS Tags (
    userId INT,
    movieId INT,
    tag STRING,
    fechahora BIGINT
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE;
na vez que hayas creado estas tablas, puedes cargar los datos desde los archivos CSV correspondientes en cada tabla utilizando el comando LOAD DATA. Por ejemplo:

sql
LOAD DATA LOCAL INPATH '/home/hduser/DFS_LOCAL/practicas/05/ml-25m/ratings.csv' INTO TABLE Ratings;
LOAD DATA LOCAL INPATH '/home/hduser/DFS_LOCAL/practicas/05/ml-25m/tags.csv' INTO TABLE Tags;

-- Crear la tabla para Ratings
CREATE TABLE IF NOT EXISTS Ratings (
    userId INT,
    movieId INT,
    rating DOUBLE,
    fechahora BIGINT
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE;

-- Crear la tabla para Tags
CREATE TABLE IF NOT EXISTS Tags (
    userId INT,
    movieId INT,
    tag STRING,
    fechahora BIGINT
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE;

-- Crear la tabla para Genome-Scores
CREATE TABLE IF NOT EXISTS GenomeScores (
    movieId INT,
    tagId INT,
    relevance DOUBLE
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE;

-- Crear la tabla para Genome-Tags
CREATE TABLE IF NOT EXISTS GenomeTags (
    tagId INT,
    tag STRING
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE;

-- Crear la tabla para Links
CREATE TABLE IF NOT EXISTS Links (
    movieId INT,
    imdbId INT,
    tmdbId INT
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE;

-- Crear la tabla para Movies
CREATE TABLE IF NOT EXISTS Movies (
    movieId INT,
    title STRING,
    genres STRING
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE;

In [ ]:
LOAD DATA LOCAL INPATH '/home/hduser/DFS_LOCAL/practicas/05/ml-25m/ratings.csv' INTO TABLE Ratings;
LOAD DATA LOCAL INPATH '/home/hduser/DFS_LOCAL/practicas/05/ml-25m/tags.csv' INTO TABLE Tags;
LOAD DATA LOCAL INPATH '/home/hduser/DFS_LOCAL/practicas/05/ml-25m/genome-scores.csv' INTO TABLE GenomeScores;
LOAD DATA LOCAL INPATH '/home/hduser/DFS_LOCAL/practicas/05/ml-25m/genome-tags.csv' INTO TABLE GenomeTags;
LOAD DATA LOCAL INPATH '/home/hduser/DFS_LOCAL/practicas/05/ml-25m/links.csv' INTO TABLE Links;
LOAD DATA LOCAL INPATH '/home/hduser/DFS_LOCAL/practicas/05/ml-25m/movies.csv' INTO TABLE Movies;

In [ ]:
CREATE TABLE IF NOT EXISTS genome-tags (
    tagId INT,
    tag STRING
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE;


LOAD DATA LOCAL INPATH '/home/hduser/DFS_LOCAL/practicas/05/genome_tags.csv' INTO TABLE genome-tags;

In [ ]:
USE movielensdb;

INSERT OVERWRITE DIRECTORY '/user/hive/DFS_LOCAL/practicas/05/data/processed/10primerostitulos'
SELECT m.movieId, m.title, m.genres, l.imdbId, l.tmdbId, t.tag, r.rating
FROM movies m
LEFT JOIN links l ON m.movieId = l.movieId
LEFT JOIN tags t ON m.movieId = t.movieId
LEFT JOIN ratings r ON m.movieId = r.movieId
WHERE m.movieId BETWEEN 1 AND 10;

In [ ]:
hive> DESCRIBE ratings;
OK
userid              	int                 	                    
movieid             	int                 	                    
rating              	double              	                    
fechahora           	bigint              	                    
Time taken: 0.09 seconds, Fetched: 4 row(s)
hive>

In [ ]:
SELECT * FROM ratings LIMIT 100;

In [ ]:
-- Consulta para ver los primeros 10 registros de la tabla ratings
SELECT * FROM ratings LIMIT 10;

-- Consulta para ver los primeros 10 registros de la tabla movies
SELECT * FROM movies LIMIT 10;

-- Consulta para ver los primeros 10 registros de la tabla links
SELECT * FROM links LIMIT 10;

-- Consulta para ver los primeros 10 registros de la tabla tags
SELECT * FROM tags LIMIT 10;

-- Consulta para ver los primeros 10 registros de la tabla genomescores
SELECT * FROM genomescores LIMIT 10;

-- Consulta para ver los primeros 10 registros de la tabla genometags
SELECT * FROM genometags LIMIT 10;

In [ ]:
SELECT *
FROM genomescores
WHERE relevance > 0.50;

In [ ]:
SELECT userId, movieId, tag, FROM_UNIXTIME(fechahora, 'yyyy-MM-dd') AS formatted_timestamp
FROM tags
LIMIT 10;

In [ ]:
SELECT title
FROM movies
WHERE movieId = 999;

In [ ]:
SELECT genres
FROM movies
ORDER BY title
LIMIT 200;

In [ ]:
SELECT genres
FROM movies
LIMIT 200;

In [ ]:
INSERT OVERWRITE LOCAL DIRECTORY '/ruta/de/salida'
SELECT m.*, r.*, l.*, t.*, gs.*, gt.*
FROM movies m
LEFT JOIN ratings r ON m.movieId = r.movieId
LEFT JOIN links l ON m.movieId = l.movieId
LEFT JOIN tags t ON m.movieId = t.movieId
LEFT JOIN genomescores gs ON m.movieId = gs.movieId
LEFT JOIN genometags gt ON m.movieId = gt.movieId;

In [ ]:
CREATE TABLE tabla_total AS
SELECT 
    m.movieid AS movieid_m, m.title, m.genres,
    r.userid AS userid_r, r.rating, r.fechahora AS timestamp_r,
    l.imdbid, l.tmdbid,
    t.userid AS userid_t, t.tag AS tag_t, t.fechahora AS timestamp_t,
    gs.tagid AS tagid_gs, gs.relevance,
    gt.tagid AS tagid_gt, gt.tag AS tag_gt
FROM 
    movies m
LEFT JOIN 
    ratings r ON m.movieid = r.movieid
LEFT JOIN 
    links l ON m.movieid = l.movieid
LEFT JOIN 
    tags t ON m.movieid = t.movieid
LEFT JOIN 
    genomescores gs ON m.movieid = gs.movieid
LEFT JOIN 
    genometags gt ON gs.tagid = gt.tagid;

In [ ]:
SELECT * FROM tabla_total LIMIT 100;

In [ ]:
ANALYZE TABLE movies COMPUTE STATISTICS;
ANALYZE TABLE ratings COMPUTE STATISTICS;
ANALYZE TABLE links COMPUTE STATISTICS;
ANALYZE TABLE tags COMPUTE STATISTICS;
ANALYZE TABLE genomescores COMPUTE STATISTICS;