In [1]:
import pandas as pd

# Cargar el conjunto de datos de entrenamiento
dataframeTrain = pd.read_csv("credit-train.csv")

# Cargar el conjunto de datos de prueba
dataframeTest = pd.read_csv("credit-test.csv")

Descripción general del dataframe:

El dataframe contiene 41,188 filas y 21 columnas.
Las columnas contienen datos de diferentes tipos: float64 (5 columnas), int64 (6 columnas) y object (10 columnas).
No hay valores nulos en el dataframe, lo que significa que todas las columnas tienen 41,188 valores no nulos.

In [2]:
dataframeTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp_var_rate    41188 non-null  float64
 16  cons_price_idx  41188 non-null  float64
 17  cons_conf_idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr_employed     41188 non-null  float64
 20  y               41188 non-null  int64
dtypes: float64(5), int64(6), object(10)
memory usage: 6.6+ MB

Estadísticas descriptivas para columnas numéricas:

La columna age tiene una media de aproximadamente 40 años, con un rango de 17 a 98 años.
La duración de la llamada (duration) varía desde 0 hasta 4918 segundos, con una media de aproximadamente 258 segundos.
El número de contactos durante esta campaña (campaign) oscila entre 1 y 56, con una media de aproximadamente 2.57 contactos.
La mayoría de los valores en la columna pdays son 999, lo que indica que la mayoría de los clientes no fueron contactados previamente.
La mayoría de los clientes no tienen valores previos (previous) o tienen solo unos pocos valores anteriores.
Las columnas emp_var_rate, cons_price_idx, cons_conf_idx, euribor3m y nr_employed contienen valores relacionados con indicadores económicos.

In [3]:
print(dataframeTrain.head())
print(dataframeTest.head())

   age          job  marital          education  default housing loan  \
0   44  blue-collar  married           basic.4y  unknown     yes   no
1   53   technician  married            unknown       no      no   no
2   28   management   single  university.degree       no     yes   no
3   39     services  married        high.school       no      no   no
4   55      retired  married           basic.4y       no     yes   no

    contact month day_of_week  ...  campaign  pdays  previous     poutcome  \
0  cellular   aug         thu  ...         1    999         0  nonexistent
1  cellular   nov         fri  ...         1    999         0  nonexistent
2  cellular   jun         thu  ...         3      6         2      success
3  cellular   apr         fri  ...         2    999         0  nonexistent
4  cellular   aug         fri  ...         1      3         1      success

  emp_var_rate  cons_price_idx  cons_conf_idx  euribor3m  nr_employed  y
0          1.4          93.444          -36.1      4.963       5228.1  0
1         -0.1          93.200          -42.0      4.021       5195.8  0
2         -1.7          94.055          -39.8      0.729       4991.6  1
3         -1.8          93.075          -47.1      1.405       5099.1  0
4         -2.9          92.201          -31.4      0.869       5076.2  1

[5 rows x 21 columns]
   age          job  marital          education default  housing     loan  \
0   30  blue-collar  married           basic.9y      no      yes       no
1   39     services   single        high.school      no       no       no
2   25     services  married        high.school      no      yes       no
3   38     services  married           basic.9y      no  unknown  unknown
4   47       admin.  married  university.degree      no      yes       no

     contact month day_of_week  duration  campaign  pdays  previous  \
0   cellular   may         fri       487         2    999         0
1  telephone   may         fri       346         4    999         0
2  telephone   jun         wed       227         1    999         0
3  telephone   jun         fri        17         3    999         0
4   cellular   nov         mon        58         1    999         0

      poutcome  emp_var_rate  cons_price_idx  cons_conf_idx  euribor3m  \
0  nonexistent          -1.8          92.893          -46.2      1.313
1  nonexistent           1.1          93.994          -36.4      4.855
2  nonexistent           1.4          94.465          -41.8      4.962
3  nonexistent           1.4          94.465          -41.8      4.959
4  nonexistent          -0.1          93.200          -42.0      4.191

   nr_employed
0       5099.1
1       5191.0
2       5228.1
3       5228.1
4       5195.8

In [4]:
print("Columnas del conjunto de datos de entrenamiento:")
print(dataframeTrain.columns)

print("\nColumnas del conjunto de datos de prueba:")
print(dataframeTest.columns)

Columnas del conjunto de datos de entrenamiento:
Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx',
       'cons_conf_idx', 'euribor3m', 'nr_employed', 'y'],
      dtype='object')

Columnas del conjunto de datos de prueba:
Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx',
       'cons_conf_idx', 'euribor3m', 'nr_employed'],
      dtype='object')

In [5]:
print(dataframeTrain.head())
print(dataframeTest.head())

   age          job  marital          education  default housing loan  \
0   44  blue-collar  married           basic.4y  unknown     yes   no
1   53   technician  married            unknown       no      no   no
2   28   management   single  university.degree       no     yes   no
3   39     services  married        high.school       no      no   no
4   55      retired  married           basic.4y       no     yes   no

    contact month day_of_week  ...  campaign  pdays  previous     poutcome  \
0  cellular   aug         thu  ...         1    999         0  nonexistent
1  cellular   nov         fri  ...         1    999         0  nonexistent
2  cellular   jun         thu  ...         3      6         2      success
3  cellular   apr         fri  ...         2    999         0  nonexistent
4  cellular   aug         fri  ...         1      3         1      success

  emp_var_rate  cons_price_idx  cons_conf_idx  euribor3m  nr_employed  y
0          1.4          93.444          -36.1      4.963       5228.1  0
1         -0.1          93.200          -42.0      4.021       5195.8  0
2         -1.7          94.055          -39.8      0.729       4991.6  1
3         -1.8          93.075          -47.1      1.405       5099.1  0
4         -2.9          92.201          -31.4      0.869       5076.2  1

[5 rows x 21 columns]
   age          job  marital          education default  housing     loan  \
0   30  blue-collar  married           basic.9y      no      yes       no
1   39     services   single        high.school      no       no       no
2   25     services  married        high.school      no      yes       no
3   38     services  married           basic.9y      no  unknown  unknown
4   47       admin.  married  university.degree      no      yes       no

     contact month day_of_week  duration  campaign  pdays  previous  \
0   cellular   may         fri       487         2    999         0
1  telephone   may         fri       346         4    999         0
2  telephone   jun         wed       227         1    999         0
3  telephone   jun         fri        17         3    999         0
4   cellular   nov         mon        58         1    999         0

      poutcome  emp_var_rate  cons_price_idx  cons_conf_idx  euribor3m  \
0  nonexistent          -1.8          92.893          -46.2      1.313
1  nonexistent           1.1          93.994          -36.4      4.855
2  nonexistent           1.4          94.465          -41.8      4.962
3  nonexistent           1.4          94.465          -41.8      4.959
4  nonexistent          -0.1          93.200          -42.0      4.191

   nr_employed
0       5099.1
1       5191.0
2       5228.1
3       5228.1
4       5195.8

In [6]:
dataframeTest.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx',
       'cons_conf_idx', 'euribor3m', 'nr_employed'],
      dtype='object')

Recuento de valores únicos en cada columna:

Las columnas categóricas tienen un rango diferente de valores únicos, lo que indica la variabilidad en las características de los clientes.

In [7]:
dataframeTrain.nunique()

age                 78
job                 12
marital              4
education            8
default              3
housing              3
loan                 3
contact              2
month               10
day_of_week          5
duration          1544
campaign            42
pdays               27
previous             8
poutcome             3
emp_var_rate        10
cons_price_idx      26
cons_conf_idx       26
euribor3m          316
nr_employed         11
y                    2
dtype: int64

Recuento de valores nulos en cada columna:

No hay valores nulos en ninguna de las columnas.

In [8]:
dataframeTrain.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
y                 0
dtype: int64

Creación de variables dummy:
Convertir las variables categóricas en variables binarias para que puedan ser utilizadas en modelos de machine learning.
Código para crear variables dummy:

In [9]:
# TRAIN Crear variables dummy para las columnas categóricas 
dataframeTrain = pd.get_dummies(dataframeTrain, columns=['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome'])

In [10]:
# TEST Crear variables dummy para las columnas categóricas 
dataframeTest = pd.get_dummies(dataframeTest, columns=['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome'])

Normalización de datos:
Normalizar los datos numéricos puede mejorar el rendimiento de algunos algoritmos de machine learning.
Código para normalizar datos:

In [11]:
#TRAIN
from sklearn.preprocessing import StandardScaler

# Inicializar el scaler
scaler = StandardScaler()

# Normalizar las columnas numéricas
dataframeTrain[['age', 'duration', 'campaign', 'pdays', 'previous', 'emp_var_rate', 'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed']] = scaler.fit_transform(dataframeTrain[['age', 'duration', 'campaign', 'pdays', 'previous', 'emp_var_rate', 'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed']])

In [12]:
#TEST
from sklearn.preprocessing import StandardScaler

# Inicializar el scaler
scaler = StandardScaler()

# Normalizar las columnas numéricas
dataframeTest[['age', 'duration', 'campaign', 'pdays', 'previous', 'emp_var_rate', 'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed']] = scaler.fit_transform(dataframeTest[['age', 'duration', 'campaign', 'pdays', 'previous', 'emp_var_rate', 'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed']])

Eliminación de columnas no relevantes:
Eliminar columnas que no son relevantes para el modelo puede simplificar el análisis y mejorar la precisión del modelo.
Código para eliminar columnas:

In [13]:
# Eliminar columnas no relevantes (por ejemplo, 'duration' en este caso)

dataframeTrain.drop(columns=['duration'], inplace=True)
dataframeTest.drop(columns=['duration'], inplace=True)

Partición de datos:
Dividir el dataframe en conjunto de entrenamiento y conjunto de prueba para evaluar el rendimiento del modelo.
Código para dividir datos:

In [14]:
print(dataframeTrain.head())
print(dataframeTest.head())

        age  campaign     pdays  previous  emp_var_rate  cons_price_idx  \
0  0.381527 -0.565922  0.195414 -0.349494      0.839061       -0.227465
1  1.245157 -0.565922  0.195414 -0.349494     -0.115781       -0.649003
2 -1.153816  0.156105 -5.117342  3.691766     -1.134279        0.828107
3 -0.098268 -0.204909  0.195414 -0.349494     -1.197935       -0.864955
4  1.437075 -0.565922 -5.133393  1.671136     -1.898153       -2.374889

   cons_conf_idx  euribor3m  nr_employed  y  ...  month_oct  month_sep  \
0       0.951267   0.773575     0.845170  0  ...      False      False
1      -0.323542   0.230456     0.398115  0  ...      False      False
2       0.151810  -1.667578    -2.428157  1  ...      False      False
3      -1.425496  -1.277824    -0.940281  0  ...      False      False
4       1.966794  -1.586859    -1.257233  1  ...      False      False

   day_of_week_fri  day_of_week_mon  day_of_week_thu  day_of_week_tue  \
0            False            False             True            False
1             True            False            False            False
2            False            False             True            False
3             True            False            False            False
4             True            False            False            False

   day_of_week_wed  poutcome_failure  poutcome_nonexistent  poutcome_success
0            False             False                  True             False
1            False             False                  True             False
2            False             False                 False              True
3            False             False                  True             False
4            False             False                 False              True

[5 rows x 63 columns]
        age  campaign     pdays  previous  emp_var_rate  cons_price_idx  \
0 -0.980752 -0.209228  0.201031 -0.351356     -1.206054       -1.185448
1 -0.107991  0.569634  0.201031 -0.351356      0.649441        0.715193
2 -1.465619 -0.598660  0.201031 -0.351356      0.841389        1.528273
3 -0.204965  0.180203  0.201031 -0.351356      0.841389        1.528273
4  0.667795 -0.598660  0.201031 -0.351356     -0.118350       -0.655478

   cons_conf_idx  euribor3m  nr_employed  job_admin.  ...  month_oct  \
0      -1.240939  -1.331707    -0.914779       False  ...      False
1       0.892269   0.711698     0.332862       False  ...      False
2      -0.283172   0.773427     0.836535       False  ...      False
3      -0.283172   0.771697     0.836535       False  ...      False
4      -0.326707   0.328632     0.398028        True  ...      False

   month_sep  day_of_week_fri  day_of_week_mon  day_of_week_thu  \
0      False             True            False            False
1      False             True            False            False
2      False            False            False            False
3      False             True            False            False
4      False            False             True            False

   day_of_week_tue  day_of_week_wed  poutcome_failure  poutcome_nonexistent  \
0            False            False             False                  True
1            False            False             False                  True
2            False             True             False                  True
3            False            False             False                  True
4            False            False             False                  True

   poutcome_success
0             False
1             False
2             False
3             False
4             False

[5 rows x 62 columns]

In [15]:
from sklearn.model_selection import train_test_split

# Separar las características y la variable objetivo del conjunto de entrenamiento
X_train = dataframeTrain.drop(columns=['y'])  # Características
y_train = dataframeTrain['y']  # Variable objetivo

# Dividir el conjunto de datos de entrenamiento en subconjuntos de entrenamiento y validación
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

# Conjunto de datos de prueba
X_test = dataframeTest  # Características

In [16]:
from sklearn.metrics import classification_report

# Realizar predicciones en el conjunto de prueba
y_pred_logistic = logistic_model.predict(X_test)

# Evaluar el rendimiento del modelo
print("Classification Report for Logistic Regression Model:")
print(classification_report(y_test, y_pred_logistic))

NameError: name 'logistic_model' is not defined

# procedemos con el entrenamiento del modelo de Regresión Logística.

In [ ]:
from sklearn.linear_model import LogisticRegression

# Inicializar el modelo de Regresión Logística
logistic_model = LogisticRegression(max_iter=1000)  # Aumentar el número máximo de iteraciones

# Entrenar el modelo
logistic_model.fit(X_train, y_train)

In [ ]:
from sklearn.metrics import classification_report

# Realizar predicciones en el conjunto de prueba
y_pred = logistic_model.predict(X_test)

# Evaluar el rendimiento del modelo
print("Classification Report for Logistic Regression Model:")
print(classification_report(y_test, y_pred))

In [ ]:
# Definir y_test utilizando la columna 'y' del conjunto de datos de prueba
y_test = dataframeTest['y']

In [ ]:
print("Primeras filas del conjunto de entrenamiento:")
print(dataframeTrain.head())

print("\nPrimeras filas del conjunto de prueba:")
print(dataframeTest.head())

In [ ]:
from sklearn.metrics import classification_report

# Definir y_test
y_test = dataframeTest['y']

# Realizar predicciones en el conjunto de prueba
y_pred_logistic = logistic_model.predict(X_test)

# Evaluar el rendimiento del modelo de regresión logística
print("Classification Report for Logistic Regression Model:")
print(classification_report(y_test, y_pred_logistic))

In [ ]:
from sklearn.metrics import classification_report

# Definir y_test utilizando la columna 'y' del conjunto de datos de prueba
y_test = dataframeTest['y']

# Realizar predicciones en el conjunto de prueba
y_pred_logistic = logistic_model.predict(X_test)

# Evaluar el rendimiento del modelo
print("Classification Report for Logistic Regression Model:")
print(classification_report(y_test, y_pred_logistic))

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

# Cargar los datos
dataframeTrain = pd.read_csv("credit-train.csv")
dataframeTest = pd.read_csv("credit-test.csv")

# Crear variables dummy para las columnas categóricas
columns_to_dummy = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact']
dataframeTrain = pd.get_dummies(dataframeTrain, columns=columns_to_dummy)
dataframeTest = pd.get_dummies(dataframeTest, columns=columns_to_dummy)

# Normalizar los datos numéricos
scaler = StandardScaler()
numeric_columns = ['age', 'campaign', 'pdays', 'previous', 'emp_var_rate', 
                   'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed']
dataframeTrain[numeric_columns] = scaler.fit_transform(dataframeTrain[numeric_columns])
dataframeTest[numeric_columns] = scaler.transform(dataframeTest[numeric_columns])

# Eliminar columnas no relevantes
columns_to_drop = ['duration']  # Columnas a eliminar
dataframeTrain.drop(columns=columns_to_drop, inplace=True)
dataframeTest.drop(columns=columns_to_drop, inplace=True)

# Dividir los datos en conjunto de entrenamiento, validación y prueba
X = dataframeTrain.drop(columns=['y'])
y = dataframeTrain['y']
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# Separar la columna 'y' del conjunto de datos de prueba
X_test = dataframeTest.drop(columns=['y'])
y_test = dataframeTest['y']


# Entrenar el modelo de regresión logística
logistic_model = LogisticRegression()
logistic_model.fit(X_train, y_train)

# Realizar predicciones en el conjunto de prueba
y_pred_logistic = logistic_model.predict(X_test)

# Evaluar el rendimiento del modelo
print("Classification Report for Logistic Regression Model:")
print(classification_report(y_test, y_pred_logistic))

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

# Cargar el conjunto de datos de entrenamiento
dataframeTrain = pd.read_csv("credit-train.csv")
# Cargar el conjunto de datos de prueba
dataframeTest = pd.read_csv("credit-test.csv")

# Crear variables dummy para las columnas categóricas
columns_to_dummy = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact']
dataframeTrain = pd.get_dummies(dataframeTrain, columns=columns_to_dummy)
dataframeTest = pd.get_dummies(dataframeTest, columns=columns_to_dummy)

# Normalizar los datos numéricos
scaler = StandardScaler()
numeric_columns = ['age', 'campaign', 'pdays', 'previous', 'emp_var_rate', 
                   'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed']
dataframeTrain[numeric_columns] = scaler.fit_transform(dataframeTrain[numeric_columns])
dataframeTest[numeric_columns] = scaler.transform(dataframeTest[numeric_columns])

# Eliminar columnas no relevantes
columns_to_drop = ['duration']  # Columnas a eliminar
dataframeTrain.drop(columns=columns_to_drop, inplace=True)
dataframeTest.drop(columns=columns_to_drop, inplace=True)

# Dividir los datos en conjunto de entrenamiento, validación y prueba
X_train = dataframeTrain.drop(columns=['y'])
y_train = dataframeTrain['y']
X_test = dataframeTest.drop(columns=['y'])
y_test = dataframeTest['y']

# Entrenar el modelo de regresión logística
logistic_model = LogisticRegression(max_iter=1000)
logistic_model.fit(X_train, y_train)

# Realizar predicciones en el conjunto de prueba
y_pred_logistic = logistic_model.predict(X_test)

# Evaluar el rendimiento del modelo
print("Classification Report for Logistic Regression Model:")
print(classification_report(y_test, y_pred_logistic))