
Conéctate a tu bbdd mysql a través de phpmyAdmin y carga en la bbdd mibbdd la tabla
VENTAS con todo el contenid

o. Lo puedes hacer fácilmente tal y como hicimos en cl se
con la tabla COMP
RAS.
Pincha en la bbdd y selecciona Importar. En esa pestaña puedes subir el fichero e importar.
Se creará la tabla con el cont
enido.
Crea un dataframe que tenga como contenido el de la
 tabla:
• Las columnas deben tener el mismo literal que en 
la bbdd.
• No importes la columna de la bbdd que es clave primaria (Id). En su lug r, debes
crear en el dataframe un multiíndice formado por ID Pedido e I
D Factura.
• Asegúrate que los tipos de dato en el dataframe son los número de pedidos de
cada uno.

In [4]:
import pandas as pd
from sqlalchemy import create_engine

try:
    # Configurar la conexión a la base de datos usando SQLAlchemy
    engine = create_engine('mysql+mysqlconnector://root:abc123...@mariadb:3306/mibbdd')

    # Realizar la consulta SQL para obtener las tablas
    query = "SHOW TABLES;"
    
    # Ejecutar la consulta y guardar los resultados en un DataFrame usando Pandas
    tablas = pd.read_sql_query(query, engine)

    # Mostrar los resultados
    print(tablas)

except Exception as e:
    print("Error al conectar a la base de datos:", e)
finally:
    # Cerrar la conexión
    if 'engine' in locals():
        engine.dispose()
        print("Conexión cerrada correctamente")

  Tables_in_mibbdd
0           VENTAS
1       categories
2        customers
3        employees
4    order details
5           orders
6         products
7         shippers
8        suppliers
Conexión cerrada correctamente

DATA FRAME VENTAS

In [11]:
from sqlalchemy import create_engine
import pandas as pd

# Crear una conexión a la base de datos con SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:abc123...@mariadb:3306/mibbdd')

# Consulta SQL para seleccionar todas las columnas excepto la clave primaria (Id)
query = "SELECT ID_Pedido, ID_Factura, Supermercado, Ciudad, Tipo_cliente, Sexo, Linea_negocio, Precio_unitario, Cantidad, Total, IVA, Fecha, Pago FROM VENTAS"

# Cargar los datos de la tabla en un DataFrame con un multiíndice formado por ID_Pedido e ID_Factura
df_ventas = pd.read_sql_query(query, engine, index_col=['ID_Pedido', 'ID_Factura'])

# Mostrar los primeros registros del DataFrame
print(df_ventas.head())

                           Supermercado      Ciudad Tipo_cliente   Sexo  \
ID_Pedido ID_Factura
56904     56904-C1    Perfumes Olorosos        Vigo    Existente  Mujer
          56904-C2           El Cercano  Pontevedra    Existente  Mujer
          56904-C3           El Primero        Vigo    Existente  Mujer
          56904-C4    Perfumes Olorosos        Vigo    Existente  Mujer
          56904-C5              El Caro      Nigrán    Existente  Mujer

                             Linea_negocio  Precio_unitario  Cantidad  \
ID_Pedido ID_Factura
56904     56904-C1    Belleza y perfumería          431.570        42
          56904-C2            Supermercado          427.754        32
          56904-C3            Supermercado          125.120        55
          56904-C4    Belleza y perfumería          499.885        35
          56904-C5                 Cocinas          216.976         8

                         Total      IVA       Fecha             Pago
ID_Pedido ID_Factura
56904     56904-C1    18125.90  3806.45  1973-09-25  Tarjeta crédito
          56904-C2    13688.10  2874.50  1973-09-25  Tarjeta crédito
          56904-C3     6881.58  1445.13  1973-09-25  Tarjeta crédito
          56904-C4    17496.00  3674.16  1973-09-25  Tarjeta crédito
          56904-C5     1735.81   364.52  1973-09-25  Tarjeta crédito

DATAFRAME COMPRAS

In [21]:
from sqlalchemy import create_engine, MetaData
import pandas as pd

# Crear una conexión a la base de datos con SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:abc123...@mariadb:3306/mibbdd')

# Crear un objeto MetaData
metadata = MetaData()

# Cargar la información de las tablas desde la base de datos
metadata.reflect(bind=engine)

# Obtener los nombres de las tablas
all_tables = metadata.tables.keys()

# Lista de nombres de tablas a excluir
excluded_tables = ['VENTAS']

# Filtrar las tablas excluyendo las que están en excluded_tables
table_names = [table for table in all_tables if table not in excluded_tables]

# Crear un diccionario para almacenar los DataFrames de las tablas
df_compras_dict = {}

# Cargar cada tabla en un DataFrame
for table_name in table_names:
    if ' ' in table_name:
        table_name_escaped = f"`{table_name}`"
    else:
        table_name_escaped = table_name
    query_table = f"SELECT * FROM {table_name_escaped}"
    df_table = pd.read_sql_query(query_table, engine)
    df_compras_dict[table_name] = df_table

# El DataFrame COMPRAS contendrá los DataFrames de todas las tablas excepto VENTAS
df_compras = pd.concat(df_compras_dict.values(), ignore_index=True)

# Mostrar los primeros registros del DataFrame
print(df_compras.head())

   CategoryID    CategoryName  \
0         1.0       Beverages
1         2.0      Condiments
2         3.0     Confections
3         4.0  Dairy Products
4         5.0  Grains/Cereals

                                         Description  \
0        Soft drinks, coffees, teas, beers, and ales
1  Sweet and savory sauces, relishes, spreads, an...
2                Desserts, candies, and sweet breads
3                                            Cheeses
4                Breads, crackers, pasta, and cereal

                                             Picture CustomerID CompanyName  \
0  b"\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...        NaN         NaN
1  b"\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...        NaN         NaN
2  b"\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...        NaN         NaN
3  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...        NaN         NaN
4  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...        NaN         NaN

  ContactName ContactTitle Address City  ... ShipCountry ProductName  \
0         NaN          NaN     NaN  NaN  ...         NaN         NaN
1         NaN          NaN     NaN  NaN  ...         NaN         NaN
2         NaN          NaN     NaN  NaN  ...         NaN         NaN
3         NaN          NaN     NaN  NaN  ...         NaN         NaN
4         NaN          NaN     NaN  NaN  ...         NaN         NaN

  SupplierID QuantityPerUnit UnitsInStock UnitsOnOrder ReorderLevel  \
0        NaN             NaN          NaN          NaN          NaN
1        NaN             NaN          NaN          NaN          NaN
2        NaN             NaN          NaN          NaN          NaN
3        NaN             NaN          NaN          NaN          NaN
4        NaN             NaN          NaN          NaN          NaN

   Discontinued ShipperID HomePage
0           NaN       NaN      NaN
1           NaN       NaN      NaN
2           NaN       NaN      NaN
3           NaN       NaN      NaN
4           NaN       NaN      NaN

[5 rows x 54 columns]

1. Aquellos pedidos efectuados por Mujeres. Debe cumplir los mismos requisitos que
el dataframe anterior (columnas con el mismo nombre que en la bbdd, no cargar la
clae primaria, crear multiíndice con ID Pedido e ID Factura y con tipos de dato
adecuados).

In [22]:
# Filtrar pedidos efectuados por mujeres
df_compras_mujeres = df_compras[df_compras['Gender'] == 'Female']

# Crear un multiíndice con ID Pedido e ID Factura
df_compras_mujeres.set_index(['ID Pedido', 'ID Factura'], inplace=True)

# Mostrar los primeros registros del nuevo dataframe
print(df_compras_mujeres.head())

KeyError: 'Gender'

VER COLUMNAS DATAFRAME COMPRAS Y VENTAS

In [23]:
# Mostrar las columnas del dataframe df_compras
print("Columnas del dataframe df_compras:")
print(df_compras.columns)

# Mostrar las columnas del dataframe df_ventas
print("\nColumnas del dataframe df_ventas:")
print(df_ventas.columns)

Columnas del dataframe df_compras:
Index(['CategoryID', 'CategoryName', 'Description', 'Picture', 'CustomerID',
       'CompanyName', 'ContactName', 'ContactTitle', 'Address', 'City',
       'Region', 'PostalCode', 'Country', 'Phone', 'Fax', 'Image',
       'ImageThumbnail', 'EmployeeID', 'LastName', 'FirstName', 'Title',
       'TitleOfCourtesy', 'BirthDate', 'HireDate', 'HomePhone', 'Extension',
       'Photo', 'Notes', 'ReportsTo', 'OrderID', 'ProductID', 'UnitPrice',
       'Quantity', 'Discount', 'OrderDate', 'RequiredDate', 'ShippedDate',
       'ShipVia', 'Freight', 'ShipName', 'ShipAddress', 'ShipCity',
       'ShipRegion', 'ShipPostalCode', 'ShipCountry', 'ProductName',
       'SupplierID', 'QuantityPerUnit', 'UnitsInStock', 'UnitsOnOrder',
       'ReorderLevel', 'Discontinued', 'ShipperID', 'HomePage'],
      dtype='object')

Columnas del dataframe df_ventas:
Index(['Supermercado', 'Ciudad', 'Tipo_cliente', 'Sexo', 'Linea_negocio',
       'Precio_unitario', 'Cantidad', 'Total', 'IVA', 'Fecha', 'Pago'],
      dtype='object')

ANALISIS TIPO DE DATOS DE DATAFRAMES

In [24]:
# 1. Inspeccionar los tipos de datos actuales
print("Tipos de datos en df_compras:")
print(df_compras.dtypes)

print("\nTipos de datos en df_ventas:")
print(df_ventas.dtypes)

# 2 y 3. Corregir y convertir los tipos de datos según sea necesario
# Por ejemplo, convertir fechas a objetos datetime
df_compras['OrderDate'] = pd.to_datetime(df_compras['OrderDate'])
df_compras['RequiredDate'] = pd.to_datetime(df_compras['RequiredDate'])
df_compras['ShippedDate'] = pd.to_datetime(df_compras['ShippedDate'])
df_ventas['Fecha'] = pd.to_datetime(df_ventas['Fecha'])

# 4. Verificar la corrección
print("\nTipos de datos corregidos en df_compras:")
print(df_compras.dtypes)

print("\nTipos de datos corregidos en df_ventas:")
print(df_ventas.dtypes)

Tipos de datos en df_compras:
CategoryID                float64
CategoryName               object
Description                object
Picture                    object
CustomerID                 object
CompanyName                object
ContactName                object
ContactTitle               object
Address                    object
City                       object
Region                     object
PostalCode                 object
Country                    object
Phone                      object
Fax                        object
Image                      object
ImageThumbnail             object
EmployeeID                float64
LastName                   object
FirstName                  object
Title                      object
TitleOfCourtesy            object
BirthDate          datetime64[ns]
HireDate           datetime64[ns]
HomePhone                  object
Extension                  object
Photo                      object
Notes                      object
ReportsTo                 float64
OrderID                   float64
ProductID                 float64
UnitPrice                 float64
Quantity                  float64
Discount                  float64
OrderDate          datetime64[ns]
RequiredDate       datetime64[ns]
ShippedDate        datetime64[ns]
ShipVia                   float64
Freight                   float64
ShipName                   object
ShipAddress                object
ShipCity                   object
ShipRegion                 object
ShipPostalCode             object
ShipCountry                object
ProductName                object
SupplierID                float64
QuantityPerUnit            object
UnitsInStock              float64
UnitsOnOrder              float64
ReorderLevel              float64
Discontinued              float64
ShipperID                 float64
HomePage                   object
dtype: object

Tipos de datos en df_ventas:
Supermercado        object
Ciudad              object
Tipo_cliente        object
Sexo                object
Linea_negocio       object
Precio_unitario    float64
Cantidad             int64
Total              float64
IVA                float64
Fecha               object
Pago                object
dtype: object

Tipos de datos corregidos en df_compras:
CategoryID                float64
CategoryName               object
Description                object
Picture                    object
CustomerID                 object
CompanyName                object
ContactName                object
ContactTitle               object
Address                    object
City                       object
Region                     object
PostalCode                 object
Country                    object
Phone                      object
Fax                        object
Image                      object
ImageThumbnail             object
EmployeeID                float64
LastName                   object
FirstName                  object
Title                      object
TitleOfCourtesy            object
BirthDate          datetime64[ns]
HireDate           datetime64[ns]
HomePhone                  object
Extension                  object
Photo                      object
Notes                      object
ReportsTo                 float64
OrderID                   float64
ProductID                 float64
UnitPrice                 float64
Quantity                  float64
Discount                  float64
OrderDate          datetime64[ns]
RequiredDate       datetime64[ns]
ShippedDate        datetime64[ns]
ShipVia                   float64
Freight                   float64
ShipName                   object
ShipAddress                object
ShipCity                   object
ShipRegion                 object
ShipPostalCode             object
ShipCountry                object
ProductName                object
SupplierID                float64
QuantityPerUnit            object
UnitsInStock              float64
UnitsOnOrder              float64
ReorderLevel              float64
Discontinued              float64
ShipperID                 float64
HomePage                   object
dtype: object

Tipos de datos corregidos en df_ventas:
Supermercado               object
Ciudad                     object
Tipo_cliente               object
Sexo                       object
Linea_negocio              object
Precio_unitario           float64
Cantidad                    int64
Total                     float64
IVA                       float64
Fecha              datetime64[ns]
Pago                       object
dtype: object

CREAR MULTIINDICE ID PEDIDO & ID FACTURA

In [25]:
# Crear un multiíndice con ID Pedido e ID Factura
df_compras.set_index(['ID Pedido', 'ID Factura'], inplace=True)

KeyError: "None of ['ID Pedido', 'ID Factura'] are in the columns"

2. Aquellos pedidos realizados en una fecha determinada pasada por teclado.

In [26]:
print(df_compras.columns)

Index(['CategoryID', 'CategoryName', 'Description', 'Picture', 'CustomerID',
       'CompanyName', 'ContactName', 'ContactTitle', 'Address', 'City',
       'Region', 'PostalCode', 'Country', 'Phone', 'Fax', 'Image',
       'ImageThumbnail', 'EmployeeID', 'LastName', 'FirstName', 'Title',
       'TitleOfCourtesy', 'BirthDate', 'HireDate', 'HomePhone', 'Extension',
       'Photo', 'Notes', 'ReportsTo', 'OrderID', 'ProductID', 'UnitPrice',
       'Quantity', 'Discount', 'OrderDate', 'RequiredDate', 'ShippedDate',
       'ShipVia', 'Freight', 'ShipName', 'ShipAddress', 'ShipCity',
       'ShipRegion', 'ShipPostalCode', 'ShipCountry', 'ProductName',
       'SupplierID', 'QuantityPerUnit', 'UnitsInStock', 'UnitsOnOrder',
       'ReorderLevel', 'Discontinued', 'ShipperID', 'HomePage'],
      dtype='object')

3. Aquellos pedidos de una factura determinada pasada por teclado.

4. Aquellos pedidos de un determinado departamento o línea de negocio pasada por
teclado y cuya cantidad supere las 40 unidades

5. La suma de los totales que se han pagado por transferencia, efectivo y tarjeta de
crédito respectivamente.

6. Listado de facturas y cantidades de cada una de un supermercado pasado por
teclado desglosadas por mujeres y hombres.

7. Ventas totales desglosadas por departamentos o líneas de negocio ordenadas de
forma decreciente.

8. Ventas totales desglosadas por supermercados ordenadas de forma creciente

9. Listado de facturas pagadas y sus cantidades totales tanto por hombres y luego por
mujeres según se haya realizado por tarjeta de crédito, transferencia y efectivo, esto
último pasado por teclado

10. Número de supermercados por cada población incluyendo el número de pedidos de
cada uno.

### ACCESO CON BBDD

En primer lugar vmos a intentar conectar con la base de datos, si es necesario utilizar **pip install pysqlite3**

Por otro lado un manual básico de SQL:  https://www.w3schools.com/sql/

In [ ]:
import sqlite3
conn = sqlite3.connect('bbdd.db')
print("Base de datos abierta");

A continuación ejecutaremos algunos ejemplos sencillos volcando los datos en dataframes

In [ ]:
import sqlite3
import pandas as pd
import numpy as np

# si fuese uan base de datos multusuario como mysql entonces, no es este caso
# uri = 'mysql+pymysql://user:pass@<ip_bbdd>/mibbdd
#db_conn = create_engine(uri)

conexion = sqlite3.connect('bbdd.db')
print("Base de datos abierta");

datos = pd.read_sql_query("select * from products",conexion, index_col='ProductID')

datos.head()

In [ ]:
import sqlite3
import pandas as pd
import numpy as np

# si fuese uan base de datos multusuario como mysql entonces, no es este caso
# uri = 'mysql+pymysql://user:pass@<ip_bbdd>/mibbdd
# db_conn = create_engine(uri)

conexion = sqlite3.connect('bbdd.db')
print("Base de datos abierta");

var = input("Indique el país: ")

datos = pd.read_sql_query("select CustomerID, CustomerName, City from Customers where Country = ?", conexion,  params=(str(var),))

datos.head()

In [ ]:
import sqlite3
import pandas as pd
import numpy as np

# si fuese uan base de datos multusuario como mysql entonces, no es este caso
# uri = 'mysql+pymysql://user:pass@<ip_bbdd>/mibbdd
# db_conn = create_engine(uri)

conexion = sqlite3.connect('bbdd.db')
print("Base de datos abierta");

date1 = input("Fecha inicio: (YYYY-MM-DD) :")
date2 = input("Fecha Fin: (YYYY-MM-DD) :")
datos = pd.read_sql_query("select OrderID, CustomerID, OrderDate from Orders where OrderDate between ? and ?", conexion,  params=(str(date1),str(date2),))

datos.head()

In [ ]:
import sqlite3
import pandas as pd
import numpy as np

# si fuese uan base de datos multusuario como mysql entonces, no es este caso
# uri = 'mysql+pymysql://user:pass@<ip_bbdd>/mibbdd
# db_conn = create_engine(uri)

conexion = sqlite3.connect('bbdd.db')
print("Base de datos abierta");

datos = pd.read_sql_query("SELECT Orders.OrderID, Orders.OrderDate, Customers.CustomerID, Customers.CustomerName FROM Orders JOIN Customers ON Orders.CustomerID = Customers.CustomerID", conexion)

datos.head()
display(datos)

In [ ]:
import sqlite3
import pandas as pd
import numpy as np

# si fuese uan base de datos multusuario como mysql entonces, no es este caso
# uri = 'mysql+pymysql://user:pass@<ip_bbdd>/mibbdd
# db_conn = create_engine(uri)

conexion = sqlite3.connect('bbdd.db')
print("Base de datos abierta");

# empleados y ventas realizadas por cada uno

datos = pd.read_sql_query("SELECT Employees.FirstName || ' ' || Employees.LastName AS NombreCompleto, COUNT(Orders.OrderID) AS NumeroDePedidos FROM Employees JOIN Orders ON Employees.EmployeeID = Orders.EmployeeID GROUP BY Employees.EmployeeID", conexion)

datos.head()
display(datos)

In [ ]:
import sqlite3
import pandas as pd
import numpy as np

# si fuese uan base de datos multusuario como mysql entonces, no es este caso
# uri = 'mysql+pymysql://user:pass@<ip_bbdd>/mibbdd
# db_conn = create_engine(uri)

conexion = sqlite3.connect('bbdd.db')
print("Base de datos abierta");

# Clientes registrados en la misma ciudad que nuestros proveedores

datos = pd.read_sql_query("SELECT DISTINCT Customers.CustomerID, Customers.CustomerName, Customers.City FROM Customers JOIN Suppliers ON Customers.City = Suppliers.City", conexion)

datos.head()
display(datos)