In [5]:
from pyaxis import pyaxis

EXAMPLE_URL = 'http://www.ine.es/jaxiT3/files/t/es/px/2184.px'

px = pyaxis.parse(EXAMPLE_URL, encoding='ISO-8859-2')
print(px['DATA'])

     Comunidades y Ciudades Autónomas  \
0                            Nacional
1                            Nacional
2                            Nacional
3                            Nacional
4                            Nacional
...                               ...
9595                       19 Melilla
9596                       19 Melilla
9597                       19 Melilla
9598                       19 Melilla
9599                       19 Melilla

     General, vivienda nueva y de segunda mano                Índices y tasas  \
0                                      General                         Índice
1                                      General                         Índice
2                                      General                         Índice
3                                      General                         Índice
4                                      General                         Índice
...                                        ...                            ...
9595                     Vivienda segunda mano  Variación en lo que va de ańo
9596                     Vivienda segunda mano  Variación en lo que va de ańo
9597                     Vivienda segunda mano  Variación en lo que va de ańo
9598                     Vivienda segunda mano  Variación en lo que va de ańo
9599                     Vivienda segunda mano  Variación en lo que va de ańo

     Periodo    DATA
0     2016T4  70.755
1     2016T3  70.476
2     2016T2  69.921
3     2016T1    68.7
4     2015T4  67.717
...      ...     ...
9595  2008T1     NaN
9596  2007T4     NaN
9597  2007T3     NaN
9598  2007T2     NaN
9599  2007T1     NaN

[9600 rows x 5 columns]