2. Carga de json





El fichero fao.json tiene información similar al que existía en el fichero csv. Revisa el
fichero para entender cómo está construido.




Debes cargarlo de modo que el dataframe resultante tenga un índice formado por el
ID_YYYY_MM.



Deberá tener la información de las restantes 12 columnas con los tipos de datos más
adecuados.



Incluye el código para cargar correctamente muestra los tipos de cada columna y las filas
correspondiente entre el año 1992 a 1995 en un nuevo dataframe.

importamos modulos necesarios por ahora

In [1]:
import pandas as pd
import json

Apertura de fichero json

In [2]:
import pandas as pd
import json

# Ruta del archivo JSON
ruta_archivo_json = "fao.json"

# Abrir y cargar el archivo JSON
with open(ruta_archivo_json, 'r') as archivo:
    datos_json = json.load(archivo)

In [3]:
# Convertir los datos a un DataFrame NORMALIZADO
df = pd.json_normalize(datos_json)

Verificar apertura fichero json

1. Convertir la columna "Date" al formato de fecha

In [4]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m')

2. Crear el índice ID_YYYY_MM

In [5]:
df['ID_YYYY_MM'] = df['Date'].dt.strftime('ID_%Y_%m')

 3. Configurar el índice del DataFrame

In [6]:
df.set_index('ID_YYYY_MM', inplace=True)

 Mostrar información del DataFrame y  Mostrar las primeras filas del DataFrame

In [7]:
print(df.info())
print(df.head())
print(df.dtypes)

<class 'pandas.core.frame.DataFrame'>
Index: 404 entries, nan to ID_2023_07
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              403 non-null    datetime64[ns]
 1   Food Price Index  403 non-null    float64
 2   Meat              403 non-null    float64
 3   Dairy             403 non-null    float64
 4   Cereals           403 non-null    float64
 5   Oils              403 non-null    float64
 6   Sugar             403 non-null    float64
 7   Column66          268 non-null    float64
 8   Column37          1 non-null      float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 31.6+ KB
None
                 Date  Food Price Index       Meat      Dairy    Cereals  \
ID_YYYY_MM
NaN               NaT               NaN        NaN        NaN        NaN
ID_1990_01 1990-01-01         64.145081  73.374551  53.503031  64.140607
ID_1990_02 1990-02-01         64.453560  75.956526  52.218634  62.222377
ID_1990_03 1990-03-01         63.787064  77.805859  41.367123  61.259884
ID_1990_04 1990-04-01         65.766754  80.442049  48.427068  62.820731

                 Oils      Sugar  Column66  Column37
ID_YYYY_MM
NaN               NaN        NaN       NaN       NaN
ID_1990_01  44.587672  87.877833       NaN       NaN
ID_1990_02  44.500514  90.662693       NaN       NaN
ID_1990_03  45.745434  95.056585       NaN       NaN
ID_1990_04  44.017094  94.313956       NaN       NaN
Date                datetime64[ns]
Food Price Index           float64
Meat                       float64
Dairy                      float64
Cereals                    float64
Oils                       float64
Sugar                      float64
Column66                   float64
Column37                   float64
dtype: object

In [8]:
print(df.dtypes)

Date                datetime64[ns]
Food Price Index           float64
Meat                       float64
Dairy                      float64
Cereals                    float64
Oils                       float64
Sugar                      float64
Column66                   float64
Column37                   float64
dtype: object