
Conéctate a tu bbdd mysql a través de phpmyAdmin y carga en la bbdd mibbdd la tabla
VENTAS con todo el contenid

o. Lo puedes hacer fácilmente tal y como hicimos en cl se
con la tabla COMP
RAS.
Pincha en la bbdd y selecciona Importar. En esa pestaña puedes subir el fichero e importar.
Se creará la tabla con el cont
enido.
Crea un dataframe que tenga como contenido el de la
 tabla:
• Las columnas deben tener el mismo literal que en 
la bbdd.
• No importes la columna de la bbdd que es clave primaria (Id). En su lug r, debes
crear en el dataframe un multiíndice formado por ID Pedido e I
D Factura.
• Asegúrate que los tipos de dato en el dataframe son los número de pedidos de
cada uno.

# MOSTRAR TABLAS Comprobar engine

In [50]:
#pip install mysql-connector-python

import mysql.connector
import pandas as pd

try:
    # Conectar con la base de datos MySQL
    conexion = mysql.connector.connect(
        host="mariadb",  # Nombre del contenedor Docker
        port="3306",  # Puerto predeterminado de MariaDB
        user="root",
        password="abc123...",  # Cambiar a la contraseña correcta
        database="mibbdd"  # Nombre de tu base de datos
    )

    # Verificar si la conexión fue exitosa
    if conexion.is_connected():
        print("Conexión establecida correctamente con la base de datos mibbdd")
        # Consulta SQL para obtener las tablas
        query = "SHOW TABLES;"
        # Ejecutar la consulta y guardar los resultados en un DataFrame
        tablas = pd.read_sql_query(query, conexion)
        # Mostrar los resultados
        print(tablas)
        
except mysql.connector.Error as error:
    print("Error al conectar a la base de datos:", error)
finally:
    # Cerrar la conexión
    if 'conexion' in locals() and conexion.is_connected():
        conexion.close()
        print("Conexión cerrada correctamente")

Conexión establecida correctamente con la base de datos mibbdd
  Tables_in_mibbdd
0           VENTAS
1       categories
2        customers
3        employees
4    order details
5           orders
6         products
7         shippers
8        suppliers
Conexión cerrada correctamente

/tmp/ipykernel_940/2799117019.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tablas = pd.read_sql_query(query, conexion)

# ANALISIS de COMPRAS para crear DATAFRAME

In [51]:
import mysql.connector

# Conectar con la base de datos MySQL
conexion = mysql.connector.connect(
    host="mariadb",  # Nombre del contenedor Docker
    port="3306",  # Puerto predeterminado de MariaDB
    user="root",
    password="abc123...",  # Cambiar a la contraseña correcta
    database="mibbdd"  # Nombre de tu base de datos
)

# Obtener el cursor
cursor = conexion.cursor()

# Consulta para obtener la descripción de las tablas
query_describe = """
    SELECT TABLE_NAME, COLUMN_NAME, COLUMN_TYPE, IS_NULLABLE, COLUMN_KEY, COLUMN_DEFAULT, EXTRA
    FROM INFORMATION_SCHEMA.COLUMNS
    WHERE TABLE_SCHEMA = 'mibbdd' AND TABLE_NAME != 'VENTAS'
"""

# Ejecutar la consulta
cursor.execute(query_describe)

# Obtener los resultados
results = cursor.fetchall()

# Mostrar los resultados
for row in results:
    print(row)

# Cerrar el cursor y la conexión
cursor.close()
conexion.close()

('employees', 'EmployeeID', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('employees', 'LastName', 'varchar(20)', 'NO', 'MUL', None, '')
('employees', 'FirstName', 'varchar(10)', 'NO', '', None, '')
('employees', 'Title', 'varchar(30)', 'YES', '', 'NULL', '')
('employees', 'TitleOfCourtesy', 'varchar(25)', 'YES', '', 'NULL', '')
('employees', 'BirthDate', 'datetime', 'YES', '', 'NULL', '')
('employees', 'HireDate', 'datetime', 'YES', '', 'NULL', '')
('employees', 'Address', 'varchar(60)', 'YES', '', 'NULL', '')
('employees', 'City', 'varchar(15)', 'YES', '', 'NULL', '')
('employees', 'Region', 'varchar(15)', 'YES', '', 'NULL', '')
('employees', 'PostalCode', 'varchar(10)', 'YES', 'MUL', 'NULL', '')
('employees', 'Country', 'varchar(15)', 'YES', '', 'NULL', '')
('employees', 'HomePhone', 'varchar(24)', 'YES', '', 'NULL', '')
('employees', 'Extension', 'varchar(4)', 'YES', '', 'NULL', '')
('employees', 'Photo', 'longblob', 'YES', '', 'NULL', '')
('employees', 'Notes', 'longtext', 'YES', '', 'NULL', '')
('employees', 'ReportsTo', 'int(11)', 'YES', '', 'NULL', '')
('categories', 'CategoryID', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('categories', 'CategoryName', 'varchar(15)', 'NO', 'UNI', None, '')
('categories', 'Description', 'longtext', 'YES', '', 'NULL', '')
('categories', 'Picture', 'longblob', 'YES', '', 'NULL', '')
('orders', 'OrderID', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('orders', 'CustomerID', 'varchar(5)', 'YES', 'MUL', 'NULL', '')
('orders', 'EmployeeID', 'int(11)', 'YES', 'MUL', 'NULL', '')
('orders', 'OrderDate', 'datetime', 'YES', 'MUL', 'NULL', '')
('orders', 'RequiredDate', 'datetime', 'YES', '', 'NULL', '')
('orders', 'ShippedDate', 'datetime', 'YES', 'MUL', 'NULL', '')
('orders', 'ShipVia', 'int(11)', 'YES', '', 'NULL', '')
('orders', 'Freight', 'decimal(19,4)', 'YES', '', '0.0000', '')
('orders', 'ShipName', 'varchar(40)', 'YES', '', 'NULL', '')
('orders', 'ShipAddress', 'varchar(60)', 'YES', '', 'NULL', '')
('orders', 'ShipCity', 'varchar(15)', 'YES', '', 'NULL', '')
('orders', 'ShipRegion', 'varchar(15)', 'YES', '', 'NULL', '')
('orders', 'ShipPostalCode', 'varchar(10)', 'YES', 'MUL', 'NULL', '')
('orders', 'ShipCountry', 'varchar(15)', 'YES', '', 'NULL', '')
('order details', 'OrderID', 'int(11)', 'NO', 'PRI', None, '')
('order details', 'ProductID', 'int(11)', 'NO', 'PRI', None, '')
('order details', 'UnitPrice', 'decimal(19,4)', 'NO', '', '0.0000', '')
('order details', 'Quantity', 'int(11)', 'NO', '', '1', '')
('order details', 'Discount', 'float', 'NO', '', '0', '')
('customers', 'CustomerID', 'varchar(5)', 'NO', 'PRI', None, '')
('customers', 'CompanyName', 'varchar(40)', 'NO', 'MUL', None, '')
('customers', 'ContactName', 'varchar(30)', 'YES', '', 'NULL', '')
('customers', 'ContactTitle', 'varchar(30)', 'YES', '', 'NULL', '')
('customers', 'Address', 'varchar(60)', 'YES', '', 'NULL', '')
('customers', 'City', 'varchar(15)', 'YES', 'MUL', 'NULL', '')
('customers', 'Region', 'varchar(15)', 'YES', 'MUL', 'NULL', '')
('customers', 'PostalCode', 'varchar(10)', 'YES', 'MUL', 'NULL', '')
('customers', 'Country', 'varchar(15)', 'YES', '', 'NULL', '')
('customers', 'Phone', 'varchar(24)', 'YES', '', 'NULL', '')
('customers', 'Fax', 'varchar(24)', 'YES', '', 'NULL', '')
('customers', 'Image', 'longblob', 'YES', '', 'NULL', '')
('customers', 'ImageThumbnail', 'longblob', 'YES', '', 'NULL', '')
('suppliers', 'SupplierID', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('suppliers', 'CompanyName', 'varchar(40)', 'NO', 'MUL', None, '')
('suppliers', 'ContactName', 'varchar(30)', 'YES', '', 'NULL', '')
('suppliers', 'ContactTitle', 'varchar(30)', 'YES', '', 'NULL', '')
('suppliers', 'Address', 'varchar(60)', 'YES', '', 'NULL', '')
('suppliers', 'City', 'varchar(15)', 'YES', '', 'NULL', '')
('suppliers', 'Region', 'varchar(15)', 'YES', '', 'NULL', '')
('suppliers', 'PostalCode', 'varchar(10)', 'YES', 'MUL', 'NULL', '')
('suppliers', 'Country', 'varchar(15)', 'YES', '', 'NULL', '')
('suppliers', 'Phone', 'varchar(24)', 'YES', '', 'NULL', '')
('suppliers', 'Fax', 'varchar(24)', 'YES', '', 'NULL', '')
('suppliers', 'HomePage', 'longtext', 'YES', '', 'NULL', '')
('shippers', 'ShipperID', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('shippers', 'CompanyName', 'varchar(40)', 'NO', '', None, '')
('shippers', 'Phone', 'varchar(24)', 'YES', '', 'NULL', '')
('products', 'ProductID', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('products', 'ProductName', 'varchar(40)', 'NO', 'MUL', None, '')
('products', 'SupplierID', 'int(11)', 'YES', 'MUL', 'NULL', '')
('products', 'CategoryID', 'int(11)', 'YES', 'MUL', 'NULL', '')
('products', 'QuantityPerUnit', 'varchar(20)', 'YES', '', 'NULL', '')
('products', 'UnitPrice', 'decimal(19,4)', 'YES', '', '0.0000', '')
('products', 'UnitsInStock', 'int(11)', 'YES', '', '0', '')
('products', 'UnitsOnOrder', 'int(11)', 'YES', '', '0', '')
('products', 'ReorderLevel', 'int(11)', 'YES', '', '0', '')
('products', 'Discontinued', 'tinyint(1)', 'YES', '', '0', '')

DATA FRAME VENTAS

In [39]:
import pandas as pd
from sqlalchemy import create_engine

# Crear una conexión a la base de datos con SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:abc123...@mariadb:3306/mibbdd')

# Consulta SQL para seleccionar todos los datos de la tabla Ventas
query_ventas = "SELECT * FROM VENTAS"

# Ejecutar la consulta y crear un DataFrame de Pandas
df_ventas = pd.read_sql(query_ventas, engine)

In [40]:
# Ajustar el formato de las columnas según la información proporcionada en la estructura de la tabla
df_ventas['ID_Pedido'] = df_ventas['ID_Pedido'].astype(int)
df_ventas['ID_Factura'] = df_ventas['ID_Factura'].astype(str)
df_ventas['Supermercado'] = df_ventas['Supermercado'].astype(str)
df_ventas['Ciudad'] = df_ventas['Ciudad'].astype(str)
df_ventas['Tipo_cliente'] = df_ventas['Tipo_cliente'].astype(str)
df_ventas['Sexo'] = df_ventas['Sexo'].astype(str)
df_ventas['Linea_negocio'] = df_ventas['Linea_negocio'].astype(str)
df_ventas['Precio_unitario'] = df_ventas['Precio_unitario'].astype(float)
df_ventas['Cantidad'] = df_ventas['Cantidad'].astype(int)
df_ventas['Total'] = df_ventas['Total'].astype(float)
df_ventas['IVA'] = df_ventas['IVA'].astype(float)
df_ventas['Fecha'] = pd.to_datetime(df_ventas['Fecha'])
df_ventas['Pago'] = df_ventas['Pago'].astype(str)

In [41]:
# Crear el multiíndice con las columnas ID_Pedido e ID_Factura
df_ventas.set_index(['ID_Pedido', 'ID_Factura'], inplace=True)

In [42]:
# Mostrar las primeras filas del DataFrame resultante
print(df_ventas.head())

                      Id       Supermercado      Ciudad Tipo_cliente   Sexo  \
ID_Pedido ID_Factura
56904     56904-C1     1  Perfumes Olorosos        Vigo    Existente  Mujer
          56904-C2     2         El Cercano  Pontevedra    Existente  Mujer
          56904-C3     3         El Primero        Vigo    Existente  Mujer
          56904-C4     4  Perfumes Olorosos        Vigo    Existente  Mujer
          56904-C5     5            El Caro      Nigrán    Existente  Mujer

                             Linea_negocio  Precio_unitario  Cantidad  \
ID_Pedido ID_Factura
56904     56904-C1    Belleza y perfumería          431.570        42
          56904-C2            Supermercado          427.754        32
          56904-C3            Supermercado          125.120        55
          56904-C4    Belleza y perfumería          499.885        35
          56904-C5                 Cocinas          216.976         8

                         Total      IVA      Fecha             Pago
ID_Pedido ID_Factura
56904     56904-C1    18125.90  3806.45 1973-09-25  Tarjeta crédito
          56904-C2    13688.10  2874.50 1973-09-25  Tarjeta crédito
          56904-C3     6881.58  1445.13 1973-09-25  Tarjeta crédito
          56904-C4    17496.00  3674.16 1973-09-25  Tarjeta crédito
          56904-C5     1735.81   364.52 1973-09-25  Tarjeta crédito

DATAFRAME COMPRAS

In [21]:
from sqlalchemy import create_engine, MetaData
import pandas as pd

# Crear una conexión a la base de datos con SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:abc123...@mariadb:3306/mibbdd')

# Crear un objeto MetaData
metadata = MetaData()

# Cargar la información de las tablas desde la base de datos
metadata.reflect(bind=engine)

# Obtener los nombres de las tablas
all_tables = metadata.tables.keys()

# Lista de nombres de tablas a excluir
excluded_tables = ['VENTAS']

# Filtrar las tablas excluyendo las que están en excluded_tables
table_names = [table for table in all_tables if table not in excluded_tables]

# Crear un diccionario para almacenar los DataFrames de las tablas
df_compras_dict = {}

# Cargar cada tabla en un DataFrame
for table_name in table_names:
    if ' ' in table_name:
        table_name_escaped = f"`{table_name}`"
    else:
        table_name_escaped = table_name
    query_table = f"SELECT * FROM {table_name_escaped}"
    df_table = pd.read_sql_query(query_table, engine)
    df_compras_dict[table_name] = df_table

# El DataFrame COMPRAS contendrá los DataFrames de todas las tablas excepto VENTAS
df_compras = pd.concat(df_compras_dict.values(), ignore_index=True)

# Mostrar los primeros registros del DataFrame
print(df_compras.head())

   CategoryID    CategoryName  \
0         1.0       Beverages
1         2.0      Condiments
2         3.0     Confections
3         4.0  Dairy Products
4         5.0  Grains/Cereals

                                         Description  \
0        Soft drinks, coffees, teas, beers, and ales
1  Sweet and savory sauces, relishes, spreads, an...
2                Desserts, candies, and sweet breads
3                                            Cheeses
4                Breads, crackers, pasta, and cereal

                                             Picture CustomerID CompanyName  \
0  b"\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...        NaN         NaN
1  b"\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...        NaN         NaN
2  b"\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...        NaN         NaN
3  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...        NaN         NaN
4  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...        NaN         NaN

  ContactName ContactTitle Address City  ... ShipCountry ProductName  \
0         NaN          NaN     NaN  NaN  ...         NaN         NaN
1         NaN          NaN     NaN  NaN  ...         NaN         NaN
2         NaN          NaN     NaN  NaN  ...         NaN         NaN
3         NaN          NaN     NaN  NaN  ...         NaN         NaN
4         NaN          NaN     NaN  NaN  ...         NaN         NaN

  SupplierID QuantityPerUnit UnitsInStock UnitsOnOrder ReorderLevel  \
0        NaN             NaN          NaN          NaN          NaN
1        NaN             NaN          NaN          NaN          NaN
2        NaN             NaN          NaN          NaN          NaN
3        NaN             NaN          NaN          NaN          NaN
4        NaN             NaN          NaN          NaN          NaN

   Discontinued ShipperID HomePage
0           NaN       NaN      NaN
1           NaN       NaN      NaN
2           NaN       NaN      NaN
3           NaN       NaN      NaN
4           NaN       NaN      NaN

[5 rows x 54 columns]

1. Aquellos pedidos efectuados por Mujeres. Debe cumplir los mismos requisitos que
el dataframe anterior (columnas con el mismo nombre que en la bbdd, no cargar la
clae primaria, crear multiíndice con ID Pedido e ID Factura y con tipos de dato
adecuados).

VER COLUMNAS DATAFRAME COMPRAS Y VENTAS

In [23]:
# Mostrar las columnas del dataframe df_compras
print("Columnas del dataframe df_compras:")
print(df_compras.columns)

# Mostrar las columnas del dataframe df_ventas
print("\nColumnas del dataframe df_ventas:")
print(df_ventas.columns)

Columnas del dataframe df_compras:
Index(['CategoryID', 'CategoryName', 'Description', 'Picture', 'CustomerID',
       'CompanyName', 'ContactName', 'ContactTitle', 'Address', 'City',
       'Region', 'PostalCode', 'Country', 'Phone', 'Fax', 'Image',
       'ImageThumbnail', 'EmployeeID', 'LastName', 'FirstName', 'Title',
       'TitleOfCourtesy', 'BirthDate', 'HireDate', 'HomePhone', 'Extension',
       'Photo', 'Notes', 'ReportsTo', 'OrderID', 'ProductID', 'UnitPrice',
       'Quantity', 'Discount', 'OrderDate', 'RequiredDate', 'ShippedDate',
       'ShipVia', 'Freight', 'ShipName', 'ShipAddress', 'ShipCity',
       'ShipRegion', 'ShipPostalCode', 'ShipCountry', 'ProductName',
       'SupplierID', 'QuantityPerUnit', 'UnitsInStock', 'UnitsOnOrder',
       'ReorderLevel', 'Discontinued', 'ShipperID', 'HomePage'],
      dtype='object')

Columnas del dataframe df_ventas:
Index(['Supermercado', 'Ciudad', 'Tipo_cliente', 'Sexo', 'Linea_negocio',
       'Precio_unitario', 'Cantidad', 'Total', 'IVA', 'Fecha', 'Pago'],
      dtype='object')

ANALISIS TIPO DE DATOS DE DATAFRAMES

In [24]:
# 1. Inspeccionar los tipos de datos actuales
print("Tipos de datos en df_compras:")
print(df_compras.dtypes)

print("\nTipos de datos en df_ventas:")
print(df_ventas.dtypes)

# 2 y 3. Corregir y convertir los tipos de datos según sea necesario
# Por ejemplo, convertir fechas a objetos datetime
df_compras['OrderDate'] = pd.to_datetime(df_compras['OrderDate'])
df_compras['RequiredDate'] = pd.to_datetime(df_compras['RequiredDate'])
df_compras['ShippedDate'] = pd.to_datetime(df_compras['ShippedDate'])
df_ventas['Fecha'] = pd.to_datetime(df_ventas['Fecha'])

# 4. Verificar la corrección
print("\nTipos de datos corregidos en df_compras:")
print(df_compras.dtypes)

print("\nTipos de datos corregidos en df_ventas:")
print(df_ventas.dtypes)

Tipos de datos en df_compras:
CategoryID                float64
CategoryName               object
Description                object
Picture                    object
CustomerID                 object
CompanyName                object
ContactName                object
ContactTitle               object
Address                    object
City                       object
Region                     object
PostalCode                 object
Country                    object
Phone                      object
Fax                        object
Image                      object
ImageThumbnail             object
EmployeeID                float64
LastName                   object
FirstName                  object
Title                      object
TitleOfCourtesy            object
BirthDate          datetime64[ns]
HireDate           datetime64[ns]
HomePhone                  object
Extension                  object
Photo                      object
Notes                      object
ReportsTo                 float64
OrderID                   float64
ProductID                 float64
UnitPrice                 float64
Quantity                  float64
Discount                  float64
OrderDate          datetime64[ns]
RequiredDate       datetime64[ns]
ShippedDate        datetime64[ns]
ShipVia                   float64
Freight                   float64
ShipName                   object
ShipAddress                object
ShipCity                   object
ShipRegion                 object
ShipPostalCode             object
ShipCountry                object
ProductName                object
SupplierID                float64
QuantityPerUnit            object
UnitsInStock              float64
UnitsOnOrder              float64
ReorderLevel              float64
Discontinued              float64
ShipperID                 float64
HomePage                   object
dtype: object

Tipos de datos en df_ventas:
Supermercado        object
Ciudad              object
Tipo_cliente        object
Sexo                object
Linea_negocio       object
Precio_unitario    float64
Cantidad             int64
Total              float64
IVA                float64
Fecha               object
Pago                object
dtype: object

Tipos de datos corregidos en df_compras:
CategoryID                float64
CategoryName               object
Description                object
Picture                    object
CustomerID                 object
CompanyName                object
ContactName                object
ContactTitle               object
Address                    object
City                       object
Region                     object
PostalCode                 object
Country                    object
Phone                      object
Fax                        object
Image                      object
ImageThumbnail             object
EmployeeID                float64
LastName                   object
FirstName                  object
Title                      object
TitleOfCourtesy            object
BirthDate          datetime64[ns]
HireDate           datetime64[ns]
HomePhone                  object
Extension                  object
Photo                      object
Notes                      object
ReportsTo                 float64
OrderID                   float64
ProductID                 float64
UnitPrice                 float64
Quantity                  float64
Discount                  float64
OrderDate          datetime64[ns]
RequiredDate       datetime64[ns]
ShippedDate        datetime64[ns]
ShipVia                   float64
Freight                   float64
ShipName                   object
ShipAddress                object
ShipCity                   object
ShipRegion                 object
ShipPostalCode             object
ShipCountry                object
ProductName                object
SupplierID                float64
QuantityPerUnit            object
UnitsInStock              float64
UnitsOnOrder              float64
ReorderLevel              float64
Discontinued              float64
ShipperID                 float64
HomePage                   object
dtype: object

Tipos de datos corregidos en df_ventas:
Supermercado               object
Ciudad                     object
Tipo_cliente               object
Sexo                       object
Linea_negocio              object
Precio_unitario           float64
Cantidad                    int64
Total                     float64
IVA                       float64
Fecha              datetime64[ns]
Pago                       object
dtype: object

In [55]:
import mysql.connector
import pandas as pd

# Establecer la conexión a la base de datos
conexion = mysql.connector.connect(
        host="mariadb",  # Nombre del contenedor Docker
        port="3306",  # Puerto predeterminado de MariaDB
        user="root",
        password="abc123...",  # Cambiar a la contraseña correcta
        database="mibbdd"  # Nombre de tu base de datos
)

# Función para obtener un DataFrame de una tabla específica
# Función para obtener un DataFrame de una tabla específica
def obtener_dataframe(tabla):
    cursor = conexion.cursor()
    consulta = f"SELECT * FROM `{tabla}`"  # Agregar comillas alrededor del nombre de la tabla
    cursor.execute(consulta)
    resultados = cursor.fetchall()
    column_names = [column[0] for column in cursor.description]
    cursor.close()
    return pd.DataFrame(resultados, columns=column_names)


# Crear DataFrames para cada tabla
df_employees = obtener_dataframe("employees")
df_categories = obtener_dataframe("categories")
df_orders = obtener_dataframe("orders")
df_order_details = obtener_dataframe("order details")
df_customers = obtener_dataframe("customers")
df_suppliers = obtener_dataframe("suppliers")
df_shippers = obtener_dataframe("shippers")
df_products = obtener_dataframe("products")

# Mostrar los DataFrames
print("DataFrame de Employees:")
print(df_employees)

print("\nDataFrame de Categories:")
print(df_categories)

print("\nDataFrame de Orders:")
print(df_orders)

print("\nDataFrame de Order Details:")
print(df_order_details)

print("\nDataFrame de Customers:")
print(df_customers)

print("\nDataFrame de Suppliers:")
print(df_suppliers)

print("\nDataFrame de Shippers:")
print(df_shippers)

print("\nDataFrame de Products:")
print(df_products)

# Cerrar la conexión
conexion.close()

DataFrame de Employees:
   EmployeeID   LastName FirstName                     Title TitleOfCourtesy  \
0           1    Davolio     Nancy      Sales Representative             Ms.
1           2     Fuller    Andrew     Vice President, Sales             Dr.
2           3  Leverling     Janet      Sales Representative             Ms.
3           4    Peacock  Margaret      Sales Representative            Mrs.
4           5   Buchanan    Steven             Sales Manager             Mr.
5           6     Suyama   Michael      Sales Representative             Mr.
6           7       King    Robert      Sales Representative             Mr.
7           8   Callahan     Laura  Inside Sales Coordinator             Ms.
8           9  Dodsworth      Anne      Sales Representative             Ms.

   BirthDate   HireDate                           Address      City Region  \
0 1948-12-08 1992-05-01     507 - 20th Ave. E.\r\nApt. 2A   Seattle     WA
1 1952-02-19 1992-08-14                908 W. Capital Way    Tacoma     WA
2 1963-08-30 1992-04-01                722 Moss Bay Blvd.  Kirkland     WA
3 1937-09-19 1993-05-03              4110 Old Redmond Rd.   Redmond     WA
4 1955-03-04 1993-10-17                   14 Garrett Hill    London   None
5 1963-07-02 1993-10-17       Coventry House\r\nMiner Rd.    London   None
6 1960-05-29 1994-01-02  Edgeham Hollow\r\nWinchester Way    London   None
7 1958-01-09 1994-03-05             4726 - 11th Ave. N.E.   Seattle     WA
8 1966-01-27 1994-11-15                 7 Houndstooth Rd.    London   None

  PostalCode Country       HomePhone Extension  \
0      98122     USA  (206) 555-9857      5467
1      98401     USA  (206) 555-9482      3457
2      98033     USA  (206) 555-3412      3355
3      98052     USA  (206) 555-8122      5176
4    SW1 8JR      UK   (71) 555-4848      3453
5    EC2 7JR      UK   (71) 555-7773       428
6    RG1 9SP      UK   (71) 555-5598       465
7      98105     USA  (206) 555-1189      2344
8    WG2 7LT      UK   (71) 555-4444       452

                                               Photo  \
0  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
1  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
2  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
3  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
4  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
5  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
6  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
7  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
8  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...

                                               Notes  ReportsTo
0  Education includes a BA in psychology from Col...        2.0
1  Andrew received his BTS commercial in 1974 and...        NaN
2  Janet has a BS degree in chemistry from Boston...        2.0
3  Margaret holds a BA in English literature from...        2.0
4  Steven Buchanan graduated from St. Andrews Uni...        2.0
5  Michael is a graduate of Sussex University (MA...        5.0
6  Robert King served in the Peace Corps and trav...        5.0
7  Laura received a BA in psychology from the Uni...        2.0
8  Anne has a BA degree in English from St. Lawre...        5.0

DataFrame de Categories:
   CategoryID    CategoryName  \
0           1       Beverages
1           2      Condiments
2           3     Confections
3           4  Dairy Products
4           5  Grains/Cereals
5           6    Meat/Poultry
6           7         Produce
7           8         Seafood

                                         Description  \
0        Soft drinks, coffees, teas, beers, and ales
1  Sweet and savory sauces, relishes, spreads, an...
2                Desserts, candies, and sweet breads
3                                            Cheeses
4                Breads, crackers, pasta, and cereal
5                                     Prepared meats
6                          Dried fruit and bean curd
7                                   Seaweed and fish

                                             Picture
0  b"\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
1  b"\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
2  b"\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
3  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
4  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
5  b"\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
6  b"\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
7  b"\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...

DataFrame de Orders:
     OrderID CustomerID  EmployeeID  OrderDate RequiredDate ShippedDate  \
0      10248      VINET           5 1994-08-04   1994-09-01  1994-08-16
1      10249      TOMSP           6 1994-08-05   1994-09-16  1994-08-10
2      10250      HANAR           4 1994-08-08   1994-09-05  1994-08-12
3      10251      VICTE           3 1994-08-08   1994-09-05  1994-08-15
4      10252      SUPRD           4 1994-08-09   1994-09-06  1994-08-11
..       ...        ...         ...        ...          ...         ...
825    11073      PERIC           2 1996-06-04   1996-07-02         NaT
826    11074      SIMOB           7 1996-06-05   1996-07-03         NaT
827    11075      RICSU           8 1996-06-05   1996-07-03         NaT
828    11076      BONAP           4 1996-06-05   1996-07-03         NaT
829    11077      RATTC           1 1996-06-05   1996-07-03         NaT

     ShipVia  Freight                    ShipName               ShipAddress  \
0          3  32.3800   Vins et alcools Chevalier        59 rue de l'Abbaye
1          1  11.6100          Toms Spezialitäten             Luisenstr. 48
2          2  65.8300               Hanari Carnes           Rua do Paço, 67
3          1  41.3400        Victuailles en stock        2, rue du Commerce
4          2  51.3000            Suprêmes délices      Boulevard Tirou, 255
..       ...      ...                         ...                       ...
825        2  24.9500   Pericles Comidas clásicas  Calle Dr. Jorge Cash 321
826        2  18.4400               Simons bistro              Vinbæltet 34
827        2   6.1900          Richter Supermarkt               Starenweg 5
828        2  38.2800                    Bon app'      12, rue des Bouchers
829        2   8.5300  Rattlesnake Canyon Grocery           2817 Milton Dr.

           ShipCity ShipRegion ShipPostalCode  ShipCountry
0             Reims       None          51100       France
1           Münster       None          44087      Germany
2    Rio de Janeiro         RJ      05454-876       Brazil
3              Lyon       None          69004       France
4         Charleroi       None         B-6000      Belgium
..              ...        ...            ...          ...
825     México D.F.       None          05033       Mexico
826       København       None           1734      Denmark
827          Genève       None           1204  Switzerland
828       Marseille       None          13008       France
829     Albuquerque         NM          87110          USA

[830 rows x 14 columns]

DataFrame de Order Details:
      OrderID  ProductID UnitPrice  Quantity  Discount
0       10248         11   14.0000        12      0.00
1       10248         42    9.8000        10      0.00
2       10248         72   34.8000         5      0.00
3       10249         14   18.6000         9      0.00
4       10249         51   42.4000        40      0.00
...       ...        ...       ...       ...       ...
2150    11077         64   33.2500         2      0.03
2151    11077         66   17.0000         1      0.00
2152    11077         73   15.0000         2      0.01
2153    11077         75    7.7500         4      0.00
2154    11077         77   13.0000         2      0.00

[2155 rows x 5 columns]

DataFrame de Customers:
   CustomerID                         CompanyName              ContactName  \
0       ALFKI                 Alfreds Futterkiste             Maria Anders
1       ANATR  Ana Trujillo Emparedados y helados             Ana Trujillo
2       ANTON             Antonio Moreno Taquería           Antonio Moreno
3       AROUT                     Around the Horn             Thomas Hardy
4       BERGS                  Berglunds snabbköp       Christina Berglund
..        ...                                 ...                      ...
86      WARTH                      Wartian Herkku         Pirkko Koskitalo
87      WELLI              Wellington Importadora            Paula Parente
88      WHITC                White Clover Markets           Karl Jablonski
89      WILMK                         Wilman Kala          Matti Karttunen
90      WOLZA                      Wolski  Zajazd  Zbyszek Piestrzeniewicz

                 ContactTitle                         Address         City  \
0        Sales Representative                   Obere Str. 57       Berlin
1                       Owner   Avda. de la Constitución 2222  México D.F.
2                       Owner                 Mataderos  2312  México D.F.
3        Sales Representative                 120 Hanover Sq.       London
4         Order Administrator                 Berguvsvägen  8        Luleå
..                        ...                             ...          ...
86         Accounting Manager                     Torikatu 38         Oulu
87              Sales Manager              Rua do Mercado, 12      Resende
88                      Owner  305 - 14th Ave. S.\r\nSuite 3B      Seattle
89  Owner/Marketing Assistant                   Keskuskatu 45     Helsinki
90                      Owner                 ul. Filtrowa 68     Warszawa

   Region PostalCode  Country           Phone             Fax Image  \
0    None      12209  Germany     030-0074321     030-0076545  None
1    None      05021   Mexico    (5) 555-4729    (5) 555-3745  None
2    None      05023   Mexico    (5) 555-3932            None  None
3    None    WA1 1DP       UK  (171) 555-7788  (171) 555-6750  None
4    None   S-958 22   Sweden   0921-12 34 65   0921-12 34 67  None
..    ...        ...      ...             ...             ...   ...
86   None      90110  Finland      981-443655      981-443655  None
87     SP  08737-363   Brazil   (14) 555-8122            None  None
88     WA      98128      USA  (206) 555-4112  (206) 555-4115  None
89   None      21240  Finland     90-224 8858     90-224 8858  None
90   None     01-012   Poland   (26) 642-7012   (26) 642-7012  None

   ImageThumbnail
0            None
1            None
2            None
3            None
4            None
..            ...
86           None
87           None
88           None
89           None
90           None

[91 rows x 13 columns]

DataFrame de Suppliers:
    SupplierID                             CompanyName  \
0            1                          Exotic Liquids
1            2              New Orleans Cajun Delights
2            3               Grandma Kelly's Homestead
3            4                           Tokyo Traders
4            5      Cooperativa de Quesos 'Las Cabras'
5            6                                Mayumi's
6            7                           Pavlova, Ltd.
7            8                Specialty Biscuits, Ltd.
8            9                        PB Knäckebröd AB
9           10               Refrescos Americanas LTDA
10          11             Heli Süßwaren GmbH & Co. KG
11          12       Plutzer Lebensmittelgroßmärkte AG
12          13  Nord-Ost-Fisch Handelsgesellschaft mbH
13          14                 Formaggi Fortini s.r.l.
14          15                         Norske Meierier
15          16                       Bigfoot Breweries
16          17                       Svensk Sjöföda AB
17          18              Aux joyeux ecclésiastiques
18          19             New England Seafood Cannery
19          20                            Leka Trading
20          21                              Lyngbysild
21          22                     Zaanse Snoepfabriek
22          23                               Karkki Oy
23          24                             G'day, Mate
24          25                               Ma Maison
25          26                    Pasta Buttini s.r.l.
26          27                      Escargots Nouveaux
27          28                            Gai pâturage
28          29                        Forêts d'érables

                    ContactName                  ContactTitle  \
0              Charlotte Cooper            Purchasing Manager
1                 Shelley Burke           Order Administrator
2                 Regina Murphy          Sales Representative
3                  Yoshi Nagase             Marketing Manager
4   Antonio del Valle Saavedra           Export Administrator
5                   Mayumi Ohno      Marketing Representative
6                   Ian Devling             Marketing Manager
7                  Peter Wilson          Sales Representative
8                 Lars Peterson                   Sales Agent
9                   Carlos Diaz             Marketing Manager
10                Petra Winkler                 Sales Manager
11                  Martin Bein  International Marketing Mgr.
12                Sven Petersen   Coordinator Foreign Markets
13                   Elio Rossi          Sales Representative
14                 Beate Vileid             Marketing Manager
15                Cheryl Saylor         Regional Account Rep.
16                Michael Björn          Sales Representative
17               Guylène Nodier                 Sales Manager
18                Robb Merchant       Wholesale Account Agent
19                 Chandra Leka                         Owner
20               Niels Petersen                 Sales Manager
21                  Dirk Luchte            Accounting Manager
22               Anne Heikkonen               Product Manager
23              Wendy Mackenzie          Sales Representative
24              Jean-Guy Lauzon             Marketing Manager
25             Giovanni Giudici           Order Administrator
26               Marie Delamare                 Sales Manager
27                   Eliane Noz          Sales Representative
28               Chantal Goulet            Accounting Manager

                                             Address           City    Region  \
0                                     49 Gilbert St.         London      None
1                                     P.O. Box 78934    New Orleans        LA
2                                     707 Oxford Rd.      Ann Arbor        MI
3                       9-8 Sekimai\r\nMusashino-shi          Tokyo      None
4                                  Calle del Rosal 4         Oviedo  Asturias
5                              92 Setsuko\r\nChuo-ku          Osaka      None
6                        74 Rose St.\r\nMoonie Ponds      Melbourne  Victoria
7                                      29 King's Way     Manchester      None
8                                    Kaloadagatan 13       Göteborg      None
9                          Av. das Americanas 12.890      São Paulo      None
10                                Tiergartenstraße 5         Berlin      None
11                                     Bogenallee 51      Frankfurt      None
12                                  Frahmredder 112a       Cuxhaven      None
13                                   Viale Dante, 75        Ravenna      None
14                                      Hatlevegen 5       Sandvika      None
15                    3400 - 8th Avenue\r\nSuite 210           Bend        OR
16                                 Brovallavägen 231      Stockholm      None
17                     203, Rue des Francs-Bourgeois          Paris      None
18  Order Processing Dept.\r\n2100 Paul Revere Blvd.         Boston        MA
19                    471 Serangoon Loop, Suite #402      Singapore      None
20                      Lyngbysild\r\nFiskebakken 10         Lyngby      None
21                             Verkoop\r\nRijnweg 22        Zaandam      None
22                                      Valtakatu 12   Lappeenranta      None
23         170 Prince Edward Parade\r\nHunter's Hill         Sydney       NSW
24                              2960 Rue St. Laurent       Montréal    Québec
25                            Via dei Gelsomini, 153        Salerno      None
26                                 22, rue H. Voiron       Montceau      None
27                        Bat. B\r\n3, rue des Alpes         Annecy      None
28                                  148 rue Chasseur  Ste-Hyacinthe    Québec

   PostalCode      Country            Phone              Fax  \
0     EC1 4SD           UK   (171) 555-2222             None
1       70117          USA   (100) 555-4822             None
2       48104          USA   (313) 555-5735   (313) 555-3349
3         100        Japan   (03) 3555-5011             None
4       33007        Spain   (98) 598 76 54             None
5         545        Japan    (06) 431-7877             None
6        3058    Australia    (03) 444-2343    (03) 444-6588
7     M14 GSD           UK   (161) 555-4448             None
8    S-345 67      Sweden     031-987 65 43    031-987 65 91
9        5442       Brazil    (11) 555 4640             None
10      10785      Germany    (010) 9984510             None
11      60439      Germany     (069) 992755             None
12      27478      Germany     (04721) 8713     (04721) 8714
13      48100        Italy     (0544) 60323     (0544) 60603
14       1320       Norway      (0)2-953010             None
15      97101          USA   (503) 555-9931             None
16   S-123 45       Sweden     08-123 45 67             None
17      75004       France  (1) 03.83.00.68  (1) 03.83.00.62
18      02134          USA   (617) 555-3267   (617) 555-3389
19       0512    Singapore         555-8787             None
20       2800      Denmark         43844108         43844115
21    9999 ZZ  Netherlands     (12345) 1212     (12345) 1210
22      53120      Finland      (953) 10956             None
23       2042    Australia    (02) 555-5914    (02) 555-4873
24    H1J 1C3       Canada   (514) 555-9022             None
25      84100        Italy    (089) 6547665    (089) 6547667
26      71300       France      85.57.00.07             None
27      74000       France      38.76.98.06      38.76.98.58
28    J2S 7S8       Canada   (514) 555-2955   (514) 555-2921

                                             HomePage
0                                                None
1                                         #CAJUN.HTM#
2                                                None
3                                                None
4                                                None
5   Mayumi's (on the World Wide Web)#http://www.mi...
6                                                None
7                                                None
8                                                None
9                                                None
10                                               None
11  Plutzer (on the World Wide Web)#http://www.mic...
12                                               None
13                                     #FORMAGGI.HTM#
14                                               None
15                                               None
16                                               None
17                                               None
18                                               None
19                                               None
20                                               None
21                                               None
22                                               None
23  G'day Mate (on the World Wide Web)#http://www....
24                                               None
25                                               None
26                                               None
27                                               None
28                                               None

DataFrame de Shippers:

CREAR MULTIINDICE ID PEDIDO & ID FACTURA

In [27]:
import pandas as pd

# Supongamos que ya tienes los dataframes df_compras y df_ventas creados

# Supongamos que los dataframes df_compras y df_ventas tienen las columnas 'ID Pedido' e 'ID Factura'
# Si no las tienen, necesitarás ajustar el código para agregar estas columnas

# Establecer un multiíndice con 'ID Pedido' e 'ID Factura' en el dataframe de ventas
df_ventas.set_index(['ID_Pedido', 'ID_Factura'], inplace=True)

# Crear un multiíndice con los mismos valores en el dataframe de compras
df_compras['ID Factura'] = df_compras['OrderID']  # Suponiendo que 'OrderID' es equivalente a 'ID Factura' en el dataframe de ventas
df_compras.set_index(['OrderID', 'ID Factura'], inplace=True)

# Mostrar el dataframe de compras con el nuevo multiíndice
print(df_compras)

KeyError: "None of ['ID Pedido', 'ID Factura'] are in the columns"

In [28]:
# Mostrar las columnas del dataframe de compras
print("Columnas del dataframe de compras:")
print(df_compras.columns)

# Mostrar las columnas del dataframe de ventas
print("\nColumnas del dataframe de ventas:")
print(df_ventas.columns)

Columnas del dataframe de compras:
Index(['CategoryID', 'CategoryName', 'Description', 'Picture', 'CustomerID',
       'CompanyName', 'ContactName', 'ContactTitle', 'Address', 'City',
       'Region', 'PostalCode', 'Country', 'Phone', 'Fax', 'Image',
       'ImageThumbnail', 'EmployeeID', 'LastName', 'FirstName', 'Title',
       'TitleOfCourtesy', 'BirthDate', 'HireDate', 'HomePhone', 'Extension',
       'Photo', 'Notes', 'ReportsTo', 'OrderID', 'ProductID', 'UnitPrice',
       'Quantity', 'Discount', 'OrderDate', 'RequiredDate', 'ShippedDate',
       'ShipVia', 'Freight', 'ShipName', 'ShipAddress', 'ShipCity',
       'ShipRegion', 'ShipPostalCode', 'ShipCountry', 'ProductName',
       'SupplierID', 'QuantityPerUnit', 'UnitsInStock', 'UnitsOnOrder',
       'ReorderLevel', 'Discontinued', 'ShipperID', 'HomePage'],
      dtype='object')

Columnas del dataframe de ventas:
Index(['Supermercado', 'Ciudad', 'Tipo_cliente', 'Sexo', 'Linea_negocio',
       'Precio_unitario', 'Cantidad', 'Total', 'IVA', 'Fecha', 'Pago'],
      dtype='object')

2. Aquellos pedidos realizados en una fecha determinada pasada por teclado.

In [30]:
# Convertir la columna de fecha a cadena de texto en el formato deseado (por ejemplo, YYYY-MM-DD)
df_ventas['Fecha'] = df_ventas['Fecha'].dt.strftime('%Y-%m-%d')

# Crear la columna 'ID Factura' en el dataframe de ventas concatenando las columnas 'Supermercado', 'Ciudad' y 'Fecha'
df_ventas['ID Factura'] = df_ventas['Supermercado'] + '-' + df_ventas['Ciudad'] + '-' + df_ventas['Fecha']

# Establecer un multiíndice con 'ID Factura' en el dataframe de ventas
df_ventas.set_index('ID Factura', inplace=True)

# Mostrar los primeros registros del dataframe de ventas para verificar los cambios
print("Primeros registros del dataframe de ventas:")
print(df_ventas.head())

Primeros registros del dataframe de ventas:
                                        Supermercado      Ciudad Tipo_cliente  \
ID Factura
Perfumes Olorosos-Vigo-1973-09-25  Perfumes Olorosos        Vigo    Existente
El Cercano-Pontevedra-1973-09-25          El Cercano  Pontevedra    Existente
El Primero-Vigo-1973-09-25                El Primero        Vigo    Existente
Perfumes Olorosos-Vigo-1973-09-25  Perfumes Olorosos        Vigo    Existente
El Caro-Nigrán-1973-09-25                    El Caro      Nigrán    Existente

                                    Sexo         Linea_negocio  \
ID Factura
Perfumes Olorosos-Vigo-1973-09-25  Mujer  Belleza y perfumería
El Cercano-Pontevedra-1973-09-25   Mujer          Supermercado
El Primero-Vigo-1973-09-25         Mujer          Supermercado
Perfumes Olorosos-Vigo-1973-09-25  Mujer  Belleza y perfumería
El Caro-Nigrán-1973-09-25          Mujer               Cocinas

                                   Precio_unitario  Cantidad     Total  \
ID Factura
Perfumes Olorosos-Vigo-1973-09-25          431.570        42  18125.90
El Cercano-Pontevedra-1973-09-25           427.754        32  13688.10
El Primero-Vigo-1973-09-25                 125.120        55   6881.58
Perfumes Olorosos-Vigo-1973-09-25          499.885        35  17496.00
El Caro-Nigrán-1973-09-25                  216.976         8   1735.81

                                       IVA       Fecha             Pago
ID Factura
Perfumes Olorosos-Vigo-1973-09-25  3806.45  1973-09-25  Tarjeta crédito
El Cercano-Pontevedra-1973-09-25   2874.50  1973-09-25  Tarjeta crédito
El Primero-Vigo-1973-09-25         1445.13  1973-09-25  Tarjeta crédito
Perfumes Olorosos-Vigo-1973-09-25  3674.16  1973-09-25  Tarjeta crédito
El Caro-Nigrán-1973-09-25           364.52  1973-09-25  Tarjeta crédito

In [58]:
print(df_compras.columns)

Index(['Tabla', 'Campo', 'Tipo', 'Nulo', 'Clave', 'Por_Defecto', 'Extra'], dtype='object')

3. Aquellos pedidos de una factura determinada pasada por teclado.

4. Aquellos pedidos de un determinado departamento o línea de negocio pasada por
teclado y cuya cantidad supere las 40 unidades

5. La suma de los totales que se han pagado por transferencia, efectivo y tarjeta de
crédito respectivamente.

6. Listado de facturas y cantidades de cada una de un supermercado pasado por
teclado desglosadas por mujeres y hombres.

7. Ventas totales desglosadas por departamentos o líneas de negocio ordenadas de
forma decreciente.

8. Ventas totales desglosadas por supermercados ordenadas de forma creciente

9. Listado de facturas pagadas y sus cantidades totales tanto por hombres y luego por
mujeres según se haya realizado por tarjeta de crédito, transferencia y efectivo, esto
último pasado por teclado

10. Número de supermercados por cada población incluyendo el número de pedidos de
cada uno.

### ACCESO CON BBDD

En primer lugar vmos a intentar conectar con la base de datos, si es necesario utilizar **pip install pysqlite3**

Por otro lado un manual básico de SQL:  https://www.w3schools.com/sql/

In [ ]:
import sqlite3
conn = sqlite3.connect('bbdd.db')
print("Base de datos abierta");

A continuación ejecutaremos algunos ejemplos sencillos volcando los datos en dataframes

In [ ]:
import sqlite3
import pandas as pd
import numpy as np

# si fuese uan base de datos multusuario como mysql entonces, no es este caso
# uri = 'mysql+pymysql://user:pass@<ip_bbdd>/mibbdd
#db_conn = create_engine(uri)

conexion = sqlite3.connect('bbdd.db')
print("Base de datos abierta");

datos = pd.read_sql_query("select * from products",conexion, index_col='ProductID')

datos.head()

In [ ]:
import sqlite3
import pandas as pd
import numpy as np

# si fuese uan base de datos multusuario como mysql entonces, no es este caso
# uri = 'mysql+pymysql://user:pass@<ip_bbdd>/mibbdd
# db_conn = create_engine(uri)

conexion = sqlite3.connect('bbdd.db')
print("Base de datos abierta");

var = input("Indique el país: ")

datos = pd.read_sql_query("select CustomerID, CustomerName, City from Customers where Country = ?", conexion,  params=(str(var),))

datos.head()

In [ ]:
import sqlite3
import pandas as pd
import numpy as np

# si fuese uan base de datos multusuario como mysql entonces, no es este caso
# uri = 'mysql+pymysql://user:pass@<ip_bbdd>/mibbdd
# db_conn = create_engine(uri)

conexion = sqlite3.connect('bbdd.db')
print("Base de datos abierta");

date1 = input("Fecha inicio: (YYYY-MM-DD) :")
date2 = input("Fecha Fin: (YYYY-MM-DD) :")
datos = pd.read_sql_query("select OrderID, CustomerID, OrderDate from Orders where OrderDate between ? and ?", conexion,  params=(str(date1),str(date2),))

datos.head()

In [ ]:
import sqlite3
import pandas as pd
import numpy as np

# si fuese uan base de datos multusuario como mysql entonces, no es este caso
# uri = 'mysql+pymysql://user:pass@<ip_bbdd>/mibbdd
# db_conn = create_engine(uri)

conexion = sqlite3.connect('bbdd.db')
print("Base de datos abierta");

datos = pd.read_sql_query("SELECT Orders.OrderID, Orders.OrderDate, Customers.CustomerID, Customers.CustomerName FROM Orders JOIN Customers ON Orders.CustomerID = Customers.CustomerID", conexion)

datos.head()
display(datos)

In [ ]:
import sqlite3
import pandas as pd
import numpy as np

# si fuese uan base de datos multusuario como mysql entonces, no es este caso
# uri = 'mysql+pymysql://user:pass@<ip_bbdd>/mibbdd
# db_conn = create_engine(uri)

conexion = sqlite3.connect('bbdd.db')
print("Base de datos abierta");

# empleados y ventas realizadas por cada uno

datos = pd.read_sql_query("SELECT Employees.FirstName || ' ' || Employees.LastName AS NombreCompleto, COUNT(Orders.OrderID) AS NumeroDePedidos FROM Employees JOIN Orders ON Employees.EmployeeID = Orders.EmployeeID GROUP BY Employees.EmployeeID", conexion)

datos.head()
display(datos)

In [ ]:
import sqlite3
import pandas as pd
import numpy as np

# si fuese uan base de datos multusuario como mysql entonces, no es este caso
# uri = 'mysql+pymysql://user:pass@<ip_bbdd>/mibbdd
# db_conn = create_engine(uri)

conexion = sqlite3.connect('bbdd.db')
print("Base de datos abierta");

# Clientes registrados en la misma ciudad que nuestros proveedores

datos = pd.read_sql_query("SELECT DISTINCT Customers.CustomerID, Customers.CustomerName, Customers.City FROM Customers JOIN Suppliers ON Customers.City = Suppliers.City", conexion)

datos.head()
display(datos)

In [53]:
import mysql.connector
import pandas as pd

# Establecer la conexión a la base de datos
conexion = mysql.connector.connect(
    host="mariadb",
    port="3306",
    user="root",
    password="abc123...",
    database="mibbdd"
)


# Cursor para ejecutar consultas SQL
cursor = conexion.cursor()

# Consulta SQL para obtener la estructura de las tablas
consulta = (
    "SELECT TABLE_NAME, COLUMN_NAME, COLUMN_TYPE, IS_NULLABLE, COLUMN_KEY, COLUMN_DEFAULT, EXTRA "
    "FROM INFORMATION_SCHEMA.COLUMNS "
    "WHERE TABLE_SCHEMA = 'middbb'"
)

# Ejecutar la consulta
cursor.execute(consulta)

# Obtener los resultados de la consulta
resultados = cursor.fetchall()

# Cerrar el cursor y la conexión
cursor.close()
conexion.close()

# Definir los nombres de las columnas del DataFrame
column_names = ['Tabla', 'Campo', 'Tipo', 'Nulo', 'Clave', 'Por_Defecto', 'Extra']

# Crear el DataFrame
df_compras = pd.DataFrame(resultados, columns=column_names)

# Mostrar el DataFrame
print(df_compras)

Empty DataFrame
Columns: [Tabla, Campo, Tipo, Nulo, Clave, Por_Defecto, Extra]
Index: []

In [59]:
print(df_ventas)

                       Id       Supermercado      Ciudad Tipo_cliente    Sexo  \
ID_Pedido ID_Factura
56904     56904-C1      1  Perfumes Olorosos        Vigo    Existente   Mujer
          56904-C2      2         El Cercano  Pontevedra    Existente   Mujer
          56904-C3      3         El Primero        Vigo    Existente   Mujer
          56904-C4      4  Perfumes Olorosos        Vigo    Existente   Mujer
          56904-C5      5            El Caro      Nigrán    Existente   Mujer
...                   ...                ...         ...          ...     ...
30066     30066-C3    304      Mercería Coso    A Coruña    Existente  Hombre
          30066-C4    305      Mercería Coso    A Coruña    Existente  Hombre
          30066-C5    306  Perfumes Olorosos        Vigo    Existente  Hombre
          30066-C6    307         El Primero        Vigo    Existente  Hombre
          30066-C7    308      Mercería Coso    A Coruña    Existente  Hombre

                             Linea_negocio  Precio_unitario  Cantidad  \
ID_Pedido ID_Factura
56904     56904-C1    Belleza y perfumería          431.570        42
          56904-C2            Supermercado          427.754        32
          56904-C3            Supermercado          125.120        55
          56904-C4    Belleza y perfumería          499.885        35
          56904-C5                 Cocinas          216.976         8
...                                    ...              ...       ...
30066     30066-C3                   Otros          974.517        20
          30066-C4                   Otros          131.573        39
          30066-C5    Belleza y perfumería          814.359        59
          30066-C6            Supermercado          867.107        90
          30066-C7                   Otros          331.618        80

                         Total       IVA      Fecha             Pago
ID_Pedido ID_Factura
56904     56904-C1    18125.90   3806.45 1973-09-25  Tarjeta crédito
          56904-C2    13688.10   2874.50 1973-09-25  Tarjeta crédito
          56904-C3     6881.58   1445.13 1973-09-25  Tarjeta crédito
          56904-C4    17496.00   3674.16 1973-09-25  Tarjeta crédito
          56904-C5     1735.81    364.52 1973-09-25  Tarjeta crédito
...                        ...       ...        ...              ...
30066     30066-C3    19490.30   4092.97 1998-02-04         Efectivo
          30066-C4     5131.33   1077.58 1998-02-04         Efectivo
          30066-C5    48047.20  10089.90 1998-02-04         Efectivo
          30066-C6    78039.70  16388.30 1998-02-04         Efectivo
          30066-C7    26529.40   5571.18 1998-02-04         Efectivo

[308 rows x 12 columns]