
Conéctate a tu bbdd mysql a través de phpmyAdmin y carga en la bbdd mibbdd la tabla
VENTAS con todo el contenid

o. Lo puedes hacer fácilmente tal y como hicimos en cl se
con la tabla COMP
RAS.
Pincha en la bbdd y selecciona Importar. En esa pestaña puedes subir el fichero e importar.
Se creará la tabla con el cont
enido.
Crea un dataframe que tenga como contenido el de la
 tabla:
• Las columnas deben tener el mismo literal que en 
la bbdd.
• No importes la columna de la bbdd que es clave primaria (Id). En su lug r, debes
crear en el dataframe un multiíndice formado por ID Pedido e I
D Factura.
• Asegúrate que los tipos de dato en el dataframe son los número de pedidos de
cada uno.

In [15]:
import mysql.connector
import pandas as pd

try:
    # Conectar con la base de datos MySQL
    conexion = mysql.connector.connect(
        host="mariadb",  # Nombre del contenedor Docker
        port="3306",  # Puerto predeterminado de MariaDB
        user="root",
        password="abc123...",  # Cambiar a la contraseña correcta
        database="mybbdd"  # Nombre de tu base de datos
    )

    # Verificar si la conexión fue exitosa
    if conexion.is_connected():
        print("Conexión establecida correctamente con la base de datos mybbdd")
        # Consulta SQL para obtener las tablas
        query = "SHOW TABLES;"
        # Ejecutar la consulta y guardar los resultados en un DataFrame
        tablas = pd.read_sql_query(query, conexion)
        # Mostrar los resultados
        print(tablas)
        
except mysql.connector.Error as error:
    print("Error al conectar a la base de datos:", error)
finally:
    # Cerrar la conexión
    if 'conexion' in locals() and conexion.is_connected():
        conexion.close()
        print("Conexión cerrada correctamente")

Conexión establecida correctamente con la base de datos mybbdd
  Tables_in_mybbdd
0           VENTAS
1       categories
2        customers
3        employees
4    order details
5           orders
6         products
7         shippers
8        suppliers
Conexión cerrada correctamente

/tmp/ipykernel_9594/982560445.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tablas = pd.read_sql_query(query, conexion)

In [14]:
# Convertir los tipos de datos según sea necesario
datos['ID Pedido'] = datos['ID Pedido'].astype('int64')
datos['ID Factura'] = datos['ID Factura'].astype('int64')
datos['Fecha'] = pd.to_datetime(datos['Fecha'])

# Crear el MultiIndex con las columnas 'ID Pedido' e 'ID Factura'
datos.set_index(['ID Pedido', 'ID Factura'], inplace=True)

# Mostrar el DataFrame resultante
print(datos)

NameError: name 'datos' is not defined

1. Aquellos pedidos efectuados por Mujeres. Debe cumplir los mismos requisitos que
el dataframe anterior (columnas con el mismo nombre que en la bbdd, no cargar la
clae primaria, crear multiíndice con ID Pedido e ID Factura y con tipos de dato
adecuados).

2. Aquellos pedidos realizados en una fecha determinada pasada por teclado.

3. Aquellos pedidos de una factura determinada pasada por teclado.

4. Aquellos pedidos de un determinado departamento o línea de negocio pasada por
teclado y cuya cantidad supere las 40 unidades

5. La suma de los totales que se han pagado por transferencia, efectivo y tarjeta de
crédito respectivamente.

6. Listado de facturas y cantidades de cada una de un supermercado pasado por
teclado desglosadas por mujeres y hombres.

7. Ventas totales desglosadas por departamentos o líneas de negocio ordenadas de
forma decreciente.

8. Ventas totales desglosadas por supermercados ordenadas de forma creciente

9. Listado de facturas pagadas y sus cantidades totales tanto por hombres y luego por
mujeres según se haya realizado por tarjeta de crédito, transferencia y efectivo, esto
último pasado por teclado

10. Número de supermercados por cada población incluyendo el número de pedidos de
cada uno.

### ACCESO CON BBDD

En primer lugar vmos a intentar conectar con la base de datos, si es necesario utilizar **pip install pysqlite3**

Por otro lado un manual básico de SQL:  https://www.w3schools.com/sql/

In [ ]:
import sqlite3
conn = sqlite3.connect('bbdd.db')
print("Base de datos abierta");

A continuación ejecutaremos algunos ejemplos sencillos volcando los datos en dataframes

In [ ]:
import sqlite3
import pandas as pd
import numpy as np

# si fuese uan base de datos multusuario como mysql entonces, no es este caso
# uri = 'mysql+pymysql://user:pass@<ip_bbdd>/mibbdd
#db_conn = create_engine(uri)

conexion = sqlite3.connect('bbdd.db')
print("Base de datos abierta");

datos = pd.read_sql_query("select * from products",conexion, index_col='ProductID')

datos.head()

In [ ]:
import sqlite3
import pandas as pd
import numpy as np

# si fuese uan base de datos multusuario como mysql entonces, no es este caso
# uri = 'mysql+pymysql://user:pass@<ip_bbdd>/mibbdd
# db_conn = create_engine(uri)

conexion = sqlite3.connect('bbdd.db')
print("Base de datos abierta");

var = input("Indique el país: ")

datos = pd.read_sql_query("select CustomerID, CustomerName, City from Customers where Country = ?", conexion,  params=(str(var),))

datos.head()

In [ ]:
import sqlite3
import pandas as pd
import numpy as np

# si fuese uan base de datos multusuario como mysql entonces, no es este caso
# uri = 'mysql+pymysql://user:pass@<ip_bbdd>/mibbdd
# db_conn = create_engine(uri)

conexion = sqlite3.connect('bbdd.db')
print("Base de datos abierta");

date1 = input("Fecha inicio: (YYYY-MM-DD) :")
date2 = input("Fecha Fin: (YYYY-MM-DD) :")
datos = pd.read_sql_query("select OrderID, CustomerID, OrderDate from Orders where OrderDate between ? and ?", conexion,  params=(str(date1),str(date2),))

datos.head()

In [ ]:
import sqlite3
import pandas as pd
import numpy as np

# si fuese uan base de datos multusuario como mysql entonces, no es este caso
# uri = 'mysql+pymysql://user:pass@<ip_bbdd>/mibbdd
# db_conn = create_engine(uri)

conexion = sqlite3.connect('bbdd.db')
print("Base de datos abierta");

datos = pd.read_sql_query("SELECT Orders.OrderID, Orders.OrderDate, Customers.CustomerID, Customers.CustomerName FROM Orders JOIN Customers ON Orders.CustomerID = Customers.CustomerID", conexion)

datos.head()
display(datos)

In [ ]:
import sqlite3
import pandas as pd
import numpy as np

# si fuese uan base de datos multusuario como mysql entonces, no es este caso
# uri = 'mysql+pymysql://user:pass@<ip_bbdd>/mibbdd
# db_conn = create_engine(uri)

conexion = sqlite3.connect('bbdd.db')
print("Base de datos abierta");

# empleados y ventas realizadas por cada uno

datos = pd.read_sql_query("SELECT Employees.FirstName || ' ' || Employees.LastName AS NombreCompleto, COUNT(Orders.OrderID) AS NumeroDePedidos FROM Employees JOIN Orders ON Employees.EmployeeID = Orders.EmployeeID GROUP BY Employees.EmployeeID", conexion)

datos.head()
display(datos)

In [ ]:
import sqlite3
import pandas as pd
import numpy as np

# si fuese uan base de datos multusuario como mysql entonces, no es este caso
# uri = 'mysql+pymysql://user:pass@<ip_bbdd>/mibbdd
# db_conn = create_engine(uri)

conexion = sqlite3.connect('bbdd.db')
print("Base de datos abierta");

# Clientes registrados en la misma ciudad que nuestros proveedores

datos = pd.read_sql_query("SELECT DISTINCT Customers.CustomerID, Customers.CustomerName, Customers.City FROM Customers JOIN Suppliers ON Customers.City = Suppliers.City", conexion)

datos.head()
display(datos)